{% extends "layout.html" %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl" style="margin-bottom: 3%;">Winter Fuel Payments prototype</h1>
<br>


<nav class="moj-sub-navigation" aria-label="Sub navigation">

  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item" style="padding-left: 0%;">
      <a class="moj-sub-navigation__link" aria-current="page" href="index" style="color: black">Agent</a>
    </li>
    <li class="moj-sub-navigation__item" style="padding-left: 0%;">
      <a class="moj-sub-navigation__link"href="index-admin" style="color: #1D70B8; text-decoration: underline;" >Admin</a>
    </li>
    <li class="moj-sub-navigation__item" style="padding-left: 1%;">
      <a class="moj-sub-navigation__link" href="index-govuk" style="color: #1D70B8; text-decoration: underline;" >GOV.UK</a>
    </li>
    <li class="moj-sub-navigation__item" style="padding-left: 1%;">
      <a class="moj-sub-navigation__link" href="index-previous-versions" style="color: #1D70B8; text-decoration: underline;" >Previous versions</a>
    </li>
    <li class="moj-sub-navigation__item" style="padding-left: 1%;">
      <a class="moj-sub-navigation__link" href="https://dwpdigital.atlassian.net/wiki/spaces/SPAY/pages/116438451121/User+Research" style="color: #1D70B8; text-decoration: underline;" >User research</a>
    </li>
  </ul>

</nav>




<h2 class="govuk-heading-l">New Claims</h2>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/new-claims/international/application-type">
                International new claims<span class="govuk-visually-hidden">International new claims</span>
            </a>

        <br>
            
            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367455929908&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>

            
        </div>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/new-claims/uk/type-of-application">
                UK new claims<span class="govuk-visually-hidden">UK new claims</span>
            </a>

        <br>
            
            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367453165485&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
              
        </div>

      </div>
  
<br>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    
    

      
<h2 class="govuk-heading-l">Tasks</h2>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/tasks/contact-citizens/address-1.html">
                Contact citizens<span class="govuk-visually-hidden">Contact citizens</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367461045186&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
              
        </div>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/tasks/fix-account-details/bank-task">
                Fix account details<span class="govuk-visually-hidden">Fix account details</span>
            </a>

        <br>
           
            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367456536173&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
  
        </div>

      <br><br><br><br>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/tasks/pay-death-arrears/death-arrears-task-1.html">
                Pay death arrears<span class="govuk-visually-hidden">Pay death arrears</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367461045408&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
              
        </div>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/tasks/13-week/13-week">
                Review 13 week care home cases<span class="govuk-visually-hidden">Review 13 week care home cases</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367458600816&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
            
        </div>

      <br><br><br><br><br><br>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/tasks/send-alternative-format/alternative-format-choose-audio.html">
                Review alternative formats<span class="govuk-visually-hidden">Review alternative formats</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367458426179&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
            
        </div>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/tasks/commercial-address/commercial-address">
                Review commercial addresses<span class="govuk-visually-hidden">Review commercial addresses</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367457834365&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
            
        </div>

      <br><br><br><br><br><br>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/tasks/gsl/gsl-task">
                Review GSL / Withdrawal agreement<span class="govuk-visually-hidden">Review GSL / Withdrawal agreement</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367457668642&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
            
        </div>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/tasks/overpayment/overpayment-referral-shared">
                Review overpayments<span class="govuk-visually-hidden">Review overpayments</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367461187661&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
            
        </div>

      <br><br><br><br><br><br>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/tasks/verify-addresses/address-1.html">
                Verify addresses<span class="govuk-visually-hidden">Verify addresses</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367456313738&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
            
        </div>

      </div>

      <br><br>

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
        


<h2 class="govuk-heading-l">Record view</h2>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="#">
                Action history<span class="govuk-visually-hidden">Action history</span>
            </a>

        <br>

            <a class="govuk-body-s" href="#">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
  
        </div>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/record-view/contact-tab/contact-details.html">
                Contact tab<span class="govuk-visually-hidden">Contact tab</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367460668767&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
  
        </div>

<br><br><br><br>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/record-view/overview-tab/overview-page-variants/overview-dap-form-sent">
                DAP form (WFPF004) sent<span class="govuk-visually-hidden">DAP form (WFPF004) sent</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764513835298424&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
  
        </div>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/record-view/overview-tab/overview-page-variants/overview-dap-cancelled">
                DAP opted out of payment<span class="govuk-visually-hidden">DAP opted out of payment</span>
            </a>

        <br>

           <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764513835298281&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
  
        </div>

<br><br><br><br>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/record-view/overview-tab/overview-page-variants/overview-opted-out">
                Opt back in<span class="govuk-visually-hidden">Opt back in</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764513835298260&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
  
        </div>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/record-view/overview-tab/overview.html">
                Overview<span class="govuk-visually-hidden">Overview</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367461431474&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
  
        </div>

<br><br><br><br>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/record-view/payments-tab/payments.html">
                Payment tab<span class="govuk-visually-hidden">Payment tab</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367460669042&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
  
        </div>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/record-view/overview-tab/commercial/overview-commercial">
                Review commercial address<span class="govuk-visually-hidden">Review commercial address</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367456749769&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
  
        </div>

<br><br><br><br><br><br>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/record-view/overview-tab/wa/overview">
                Review withdrawal agreement<span class="govuk-visually-hidden">Review withdrawal agreement</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367457057812&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>

        </div>

        <div class="govuk-grid-column-one-half">
    
            <a class="govuk-body-l" style="font-weight:bold" href="https://winterfuel.herokuapp.com/current/record-view/overview-tab/overview">
                Update details<span class="govuk-visually-hidden">Update details</span>
            </a>

        <br>

            <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367460669288&cot=14">
                Journey map<span class="govuk-visually-hidden">Journey map</span>
              </a>
  
        </div>

<br><br><br><br><br><br>







      </div>

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">



<!--   -->

      {% endblock %}


