{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form method="post">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div>
                <h1 class="govuk-heading-xl">
                  XX 62 31 26 C<br>
                  <span class="govuk-body-l">
                    Meera Rudd
                  </span><br>
                  <strong class="govuk-tag govuk-tag--grey">
                    Dead
                  </strong>
              </div>

            </div>
          </div>


          <form method="post">

            <h2 class="govuk-heading-l">Name of the company receiving the death arrears payment</h2>

            <div class="govuk-form-group">
      <label class="govuk-label" for="payeename">
        Company name
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="payeename" name="payeename" type="text" spellcheck="false" autocomplete="name"><br><br>
      <br><a href="//legacy/sprint43b/tasks-5" class="govuk-link">Return this case to the queue</a>
      <br><br><br>
            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
