{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

         {% if data['update-details']=='yes'%}
        <form method="post" action="/current/record-view/overview-tab/update-details/update-anything-else">
      {% else %}
        <form method="post" action="/current/record-view/contact-tab/contact-details">
      {% endif %}

          {% include 'current/includes/_bar.html' %}

          <br>
          <br>


          {% if not data.email %}
          <h1 class="govuk-heading-l">Add email address</h1>
          {% else %}
          <h1 class="govuk-heading-l">Change email address</h1>
          {% endif %}

         
            <div class="govuk-form-group">
              <label class="govuk-label" for="email">
                Email address
              </label>
              <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint">
            </div>

            {% if data.email %}
            <div>
              <a href="email-remove" class="govuk-link govuk-!-font-size-19">Remove email address as a contact option</a>
            </div>
            {% endif %}
            <br>

            <button type="submit" class="govuk-button">
              Save
            </button>
            <input type="hidden" name="email-changed" value="true">
            <input type="hidden" name="email-remove" value="no">
            <input type="hidden" name="contact-details-changed" value="true">
            <input type="hidden" name="from-contact-tab" value="true">

          </form>


      </div>

    </div>

</div>

</main>
</div>



{% endblock %}
