

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <div>
          <h1 class="govuk-heading-xl">
            Theodora Best<br>

                            <span class="govuk-body-l">
                              {% if data['nino'] %}
                                {{data['nino']}}
                              {% else %}
                                XX 12 34 56
                              {% endif %}
                              <br>
                              {% if data['mark-as-dead']=='yes' and data['remove-dead'] !='yes' %}

                <strong class="govuk-tag govuk-tag--grey">
                  Dead
                </strong>
                {% elif data['stop-payments']=='dead'%}
                <strong class="govuk-tag govuk-tag--grey">
                  Dead
                </strong>
                {% elif data['overpaid-tag']=='true'%}
                <strong class="govuk-tag govuk-tag--red" style="color:#ffffff; background:#942514">
                  overpaid
                </strong>
                {% endif %}
                            </span>
                          

        </div>

  </div>
</div>
