{% extends "layout.html" %}

{% block header %}
  {% include './_header-check.html' %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
      }) }}

      <br>
      <br>

        <h1 class="govuk-heading-xl">Check and update cases</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <section class="key-details-bar-black" role="contentinfo" aria-label="Key details">
          <dl class="key-details-bar-black__key-details">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">11.67 million</h2>
            <span class="govuk-caption-l">cases</span>
          </dl>
        </section>
      </div>
   <div class="govuk-grid-column-one-quarter">
    <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
        <span class="govuk-heading-l govuk-!-margin-bottom-0">11.34 million<span class="govuk-caption-l">eligible</span></span>
        <br><span class="govuk-caption-m"><a href="link-to-csv">Download csv file</a></span>
      </dl>
    </section>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
        <span class="govuk-heading-l govuk-!-margin-bottom-5">133,004<span class="govuk-caption-l">ineligible</span></span>
        <span class="govuk-caption-m"><a href="ineligible">View cases</a></span>
      </dl>
    </section>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
          <span class="govuk-heading-l govuk-!-margin-bottom-5">265,998<span class="govuk-caption-l">in error</span></span>
          <span class="govuk-caption-m"><a href="error">View cases</a></span>
          </dl>
    </section>
    <br>
  

    <section class="key-details-bar-grey" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar-grey__key-details">
          <span class="govuk-heading-l govuk-!-margin-bottom-0">492<span class="govuk-caption-l">to be recalculated</span></span>
          <br><span class="govuk-caption-m govuk-!-margin-bottom-2"><a href="recalculation">View cases</a></span>
          </dl>
    </section>
  </div>
</div>

  </div>
</div>


{% endblock %}
