{% extends "layout.html" %}

{% block pageTitle %}
Winter Fuel Payments test
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl" style="margin-bottom: 3%;">Winter Fuel Payments prototype</h1>
<br>


<nav class="moj-sub-navigation" aria-label="Sub navigation">

  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item" style="padding-left: 0%;">
      <a class="moj-sub-navigation__link" aria-current="page" href="index" style="color: black">Agent</a>
    </li>
    <li class="moj-sub-navigation__item" style="padding-left: 0%;">
      <a class="moj-sub-navigation__link"href="index-admin" style="color: #1D70B8; text-decoration: underline;" >Admin</a>
    </li>
    <li class="moj-sub-navigation__item" style="padding-left: 1%;">
      <a class="moj-sub-navigation__link" href="index-govuk" style="color: #1D70B8; text-decoration: underline;" >GOV.UK</a>
    </li>
    <li class="moj-sub-navigation__item" style="padding-left: 1%;">
      <a class="moj-sub-navigation__link" href="index-ur" style="color: #1D70B8; text-decoration: underline;" >User research</a>
    </li>
  </ul>

</nav>



  <h3 class="govuk-heading-m">
    <a href="#">International new claims (most recent version)</a>
</h3>

{% set detailsContentHTML1 %}
    <p>
        Current Version (bolder text)
        <br> start journey (green button)
        <br> journey map (grey button)
        <br> links to which tickets worked on  (bolder text)
            <!-- copy this template here, and paste it below. Edit the information.   

          <br> <a class="govuk-link" href="enter link to the ticket in jira here">
            enter name of ticket here e.g. SPAY-1111<span class="govuk-visually-hidden">ticket worked on</span>
               </a>
          <br> <ul class="govuk-list govuk-list--bullet">
                  <li>what the change was</li>
               </ul>
-->
        <br> <a class="govuk-link" href="#">
                SPAY-1111<span class="govuk-visually-hidden">ticket worked on</span>
              </a>
        <br> <ul class="govuk-list govuk-list--bullet">
          <li>enable agents to add alternative format</li>
             </ul>

        <br> <a class="govuk-link" href="#">
                SPAY-1112<span class="govuk-visually-hidden">ticket worked on</span>
              </a>
        <br> <ul class="govuk-list govuk-list--bullet">
          <li>enable agents to update address</li>
             </ul>
    </p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    
    <p>
        Previous Version - V1 (bolder text)
         <br> grey button - start journey
         <br> links to which tickets worked on  (bolder text)
             
        <br> <a class="govuk-link" href="#">
                SPAY-1109<span class="govuk-visually-hidden">ticket worked on</span>
              </a>
        <br> <ul class="govuk-list govuk-list--bullet">
          <li>enable agents to update address</li>
             </ul>
        <br> <a class="govuk-link" href="#">
                SPAY-1110<span class="govuk-visually-hidden">ticket worked on</span>
              </a>
        <br> <ul class="govuk-list govuk-list--bullet">
          <li>enable agents to update address</li>
             </ul>
        
    </p>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
{% endset %}
                
{{ govukDetails({
    summaryText: 'International new claims details',
    html: detailsContentHTML1
}) }}
                
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">



<!--   -->

      {% endblock %}


