{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {{ govukBackLink({
              text: "Back",
              href: "javascript:history.go(-1)"
            }) }}

          <br>
          <br>

          <h1 class="govuk-heading-l">Heading</h1>
<br><a href="next-task" class="govuk-link">Return this case to the queue</a>
      </div>


    </div>

</div>

</main>
</div>

{% endblock %}
