{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {% if data['dob-year'] == '1940' %}
            <div class="govuk-panel govuk-panel--confirmation">
              <div class="govuk-panel__body">
                <strong>You qualify for a Winter Fuel Payment of £150</strong>
              </div>
            </div>

            <br>

          {% else %}
            <div class="govuk-panel govuk-panel--confirmation">
              <div class="govuk-panel__body">
                <strong>You qualify for a Winter Fuel Payment of £100</strong>
              </div>
            </div>

          {% endif %}

          <p class="govuk-body">This is because you told us:</p>
          <ul class="govuk-list govuk-list--bullet">
            {% if data['dob-year'] == '1940' %}  
              <li>you are 80 or over and live with someone 80 or over who also qualifies</li>
            {% else %}
              <li>you are under 80 and live with someone 80 or over who also qualifies</li>
            {% endif %}
           
          </ul>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
          <h2 class="govuk-heading-m">What happens next</h2>

          {% if data['had-winter-fuel-before'] == 'no' %}
          <div class="govuk-warning-text">
           <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
           <strong class="govuk-warning-text__text">
             <span class="govuk-warning-text__assistive">Warning</span>
             You need to <a href="/current/eligibility-checker/gov-uk-guidance/how-to-claim#claim-for-the-first-time-by-phone">make a claim</a> to get this payment.
           </strong>
         </div>
          {% endif %}
          
          <br><br>
          <a href="/current/eligibility-checker/start-page" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" style="font-weight:normal">
            Start again
          </a>


        </form>

      </div>



    </div>

</div>
</main>
</div>

{% endblock %}
