{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



        <form method="post">

         

          <h1 class="govuk-heading-xl">Check how much Winter Fuel Payment you might get</h1>

          <p class="govuk-body">Use this service to find out if you
            qualify for Winter Fuel Payments and how much you might be paid.</p>

          

          <a href="/current/eligibility-checker/date-of-birth" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
            Start now
          </a>

          
          <details class="govuk-details" data-module="govuk-details" style="padding-top:100px">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                (Prototype notes)
              </span>
            </summary>
            <div class="govuk-details__text" style="padding:0px">
              <ul>
                <li>use 1940 for date of birth year to trigger 80 or over pages</li>
                <li>use 1955 for date of birth year to trigger too young page</li>
                <li>any other date triggers under 80 pages</li>
              </ul>
            </div>
          </details>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
