{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

<h1 class="govuk-heading-xl">You're too young to get a Winter Fuel Payment</h1>

      <p>To qualify for a Winter Fuel Payment you must be born before 27 September 1955.</p>
<br><br>

      <a href="/current/eligibility-checker/start-page" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
        Start again
      </a>
</div>


    </div>

</div>

</main>
</div>

{% endblock %}
