{% extends "layout.html" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
      }) }}

      <br>
      <br>

        <h1 class="govuk-heading-xl">Caseload statuses</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <section class="key-details-bar-black" role="contentinfo" aria-label="Key details">
          <dl class="key-details-bar-black__key-details">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">11.67 million</h2>
            <span class="govuk-caption-l">cases</span>
          </dl>
        </section>
      </div>
      
  <div class="govuk-grid-column-one-quarter">
    <section class="key-details-bar" role="contentinfo" aria-label="Key details">
      <dl class="key-details-bar__key-details">
        <span class="govuk-heading-l govuk-!-margin-bottom-0">11.34 million<span class="govuk-caption-l">eligible</span></span>
        <br><span class="govuk-caption-m"><a href="link-to-csv">Download csv file</a></span>
      </dl>
    </section>
  </div>

  <div class="govuk-grid-column-one-quarter"><a>
      </a><a href="eligible"></a>
        <section class="key-details-bar" role="contentinfo" aria-label="Key details">
          <dl class="key-details-bar__key-details">
            <span class="govuk-heading-l govuk-!-margin-bottom-5">133,004<span class="govuk-caption-l">ineligible</span></span>
          </dl>
        </section>
    </div>
  
</div>

  </div>
</div>


{% endblock %}
