{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

          {% if data['preferred-name-added']=='true'%}
             {% include 'current/includes/_bar-preferred-name.html' %}
          {% else %}
             {% include 'current/includes/_bar-preferred-name.html' %}
          {% endif %}
          
          {% if data['alt-format-changed'] == 'true' or data ['contact-details-changed'] == 'true'%}
          <div class="moj-banner moj-banner--success">

          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
          <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
          </svg>

          <div class="moj-banner__message">
          <span class="moj-banner__assistive">Success</span>Details updated
          </div>

          </div>
        {% endif %}


          {% include 'current/includes/_tab-contact.html' %}
          <br><br>

          <table class="govuk-table">
            <h2 class="govuk-heading-m">Contact details</h2>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Home phone</th>

                <td class="govuk-table__cell govuk-!-width-one-half">
                  {% if data['homephone-remove'] === 'yes' %}
                  {% elseif data.homephone %}
                  {{data.homephone}}
                  {% endif %}
                </td>
                <td class="govuk-table__cell table-links-padding-left">
                  <a href="/current/record-view/contact-tab/home-phone/homephone.html">
                      {% if not data.homephone or data['homephone-remove'] === 'yes'%}
                      Add<span class="govuk-visually-hidden"> home phone number</span>
                      {% else %}
                        Change<span class="govuk-visually-hidden"> home phone number</span>
                      {% endif %}
                    </a>
                </td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Mobile phone</th>
                  <td class="govuk-table__cell">
                    {% if data['mobilephone-remove'] === 'yes' %}
                     {% elseif data.mobilenumber %}
                     {{data.mobilenumber}}
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell table-links-padding-left">
                    <a href="/current/record-view/contact-tab/mobile-phone/mobilephone.html">
                      {% if not data.mobilenumber or data['mobilephone-remove'] === 'yes'%}
                      Add<span class="govuk-visually-hidden"> mobile number</span>
                      {% else %}
                        Change<span class="govuk-visually-hidden"> mobile number</span>
                      {% endif %}
                    </a>
                  </td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Work phone</th>
                <td class="govuk-table__cell">
                  
                  {% if data['workphone-remove'] === 'yes' %}
                  {% elseif data.worknumber%}
                  {{data.worknumber}}
                  {% endif %}
                </td>
                <td class="govuk-table__cell table-links-padding-left">
                  <a href="/current/record-view/contact-tab/work-phone/workphone.html">
                    {% if not data.worknumber or data['workphone-remove'] === 'yes'%}
                    Add<span class="govuk-visually-hidden"> work number</span>
                    {% else %}
                    Change<span class="govuk-visually-hidden"> work number</span>
                    {% endif %}
                  </a>
                </td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email address</th>
                <td class="govuk-table__cell">


                  {% if data['email-remove'] === 'yes' %}
                  {% elseif data.email%}
                  {{data.email}}
                  {% endif %}


                </td>
                <td class="govuk-table__cell table-links-padding-left">
                  <a href="/current/record-view/contact-tab/email/email.html">

                    {% if data['email'] or data['email3'] %}
                    Change<span class="govuk-visually-hidden">email</span>
                    {% else %}
                    Add<span class="govuk-visually-hidden">email</span>
                    {% endif %}

                  </a>
                </td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Preferred name</th>
                <td class="govuk-table__cell">
                  {{data['preferred-first-name']}} {{data['preferred-last-name']}}
                </td>
                <td class="govuk-table__cell table-links-padding-left">
                  <a href="/current/record-view/overview-tab/update-details/preferred-name.html">

                    {% if data['preferred-last-name'] %}
                    Change<span class="govuk-visually-hidden">preferred name</span>
                    {% else %}
                    Add<span class="govuk-visually-hidden">preferred name</span>
                    {% endif %}

                  </a>
                </td>
              </tr>

               <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Correspondence address</th>
                <td class="govuk-table__cell">
                  8 Front Street<br>
                   Crownhill<br>
                    PL6 6WJ<br>
                </td>


                <td class="govuk-table__cell table-links-padding-left">
                  <a href="/current/record-view/contact-tab/correspondence-address/correspondence-address.html">
                    {% if not data['correspondence-address-change'] %}
                    Change <span class="govuk-visually-hidden">contact preferences</span>
                    {% else %}
                    Change <span class="govuk-visually-hidden">contact preferences</span>
                    {% endif %}
                    <span class="govuk-visually-hidden">Change address</span>
                  </a>
                </td>

              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Alternative format</th>


                <td class="govuk-table__cell">
              {% if data['alternative-format'] !== 'remove' %}
                  {% if data['alternative-format'] %}
                  {{data['alternative-format']}}
                {% endif %}

                {% if data['alternative-format'] === 'Welsh language' %}
                {% if data['large'] === 'Large print (default - size 16)' %}
                  <br>Large print (default - size 16)
                {% if data['large-2'] === 'Large print (custom size)' %}
                  <br>Large print (custom size)
                {% endif %}
                {% endif %}
                {% endif %}

                {% if data['alternative-format'] === 'Welsh language' or data['alternative-format'] === 'Large print (custom size)' %}
                  {% if data['large-print'] %}
                  <br>{{data['large-print']}}
                {% endif %}
                {% endif %}

                {% if data['alternative-format'] === 'Welsh language' or data['alternative-format'] === 'Large print (default - size 16)' or data['alternative-format'] === 'Large print (custom size)' %}
                  {% if data['bold'] === 'yes' %}
                  <br>Bold
                {% endif %}
                {% endif %}

                {% if data['colour'] %}
                  : <br>
                  {% if data['colour'] %}
                  {{data['colour']}}
                {% endif %}
                {% endif %}


              {% endif %}

                </td>


                <td class="govuk-table__cell table-links-padding-left">
                  <a href="/current/record-view/contact-tab/alt-formats/alt.html">
                  {% if data['alternative-format'] !== 'remove' %}
                    {% if data['alternative-format'] %}
                    Change<span class="govuk-visually-hidden"> alternative format.</span>
                    {% else %}
                    Add<span class="govuk-visually-hidden"> alternative format.</span>
                    {% endif %}
                     {% else %}
                    Add
                  {% endif %}
                  </a>
                </td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Preferred language</th>
                  <td class="govuk-table__cell">
                    English
                  </td>


                  <td class="govuk-table__cell table-links-padding-left">
                    <a href="/current/record-view/contact-tab/preferred-language/confirm-change-language">

                        Change


                    </a>
                  </td>

                </tr>
            </tbody>
          </table>

      </div>
      {% if data['alt-format-changed'] == 'true' %}
        <div class="govuk-grid-column-one-third">
          {% include 'current/includes/_history3.html' %}
       </div>
      {% else %}
        <div class="govuk-grid-column-one-third">

        </div>
      {% endif %}

    </div>

</div>

</main>
</div>

{% endblock %}
