{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-index.html' %}
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

{{ govukBackLink ({
  text: 'Back',
  href: 'javascript:history.back()'
}) }}
            <br>
            <br>

<h1 class="govuk-heading-xl" style="margin-bottom: 3%;">Winter Fuel Payments prototype</h1>
<br>

<strong class="govuk-tag" style="background-color:#003078">Record View variations</strong><br><br><br>
            

                <ul class="govuk-list govuk-list--bullet">
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="#">Action history</a>
                <a class="govuk-body-s" href="#">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="https://winterfuel.herokuapp.com/current/record-view/contact-tab/contact-details.html">Contact tab</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367460668767&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="https://winterfuel.herokuapp.com/current/record-view/overview-tab/overview-page-variants/overview-dap-form-sent">DAP form (WFPF004) sent</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764513835298424&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="https://winterfuel.herokuapp.com/current/record-view/overview-tab/overview-page-variants/overview-dap-cancelled">DAP opted out of payment</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764513835298281&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="https://winterfuel.herokuapp.com/current/record-view/overview-tab/overview-page-variants/overview-opted-out">Opt back in</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764513835298260&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="https://winterfuel.herokuapp.com/current/record-view/payments-tab/payments.html">Payment tab</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367460669042&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="https://winterfuel.herokuapp.com/current/record-view/overview-tab/commercial/overview-commercial">Review commercial address</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367456749769&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="https://winterfuel.herokuapp.com/current/record-view/overview-tab/wa/overview">Review withdrawal agreement</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367457057812&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="https://winterfuel.herokuapp.com/current/record-view/overview-tab/overview">Update details</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367460669288&cot=14">Journey map</a><br>
                </li>
                </ul>

                
    </div>
  </div>





    



<!--   -->

      {% endblock %}


