{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-international.html' %}
{% endblock %}

{% block beforeContent %}
{% include 'current/includes/_name_bar.html' %}
{% endblock %}

{% block add_head %}
    <script src="/public/javascripts/accessible-autocomplete.js"></script>
    <script src="/public/javascripts/autocomplete-configuration.js"></script>
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
          }) }}

        <br>
        <br>

                 <h1 class="govuk-heading-l">Which nationality do you have?</h1>
        <form method="post" action="benefits-outside">

          <div class="govuk-inset-text">
            Enter the nationality, not the country.<br><br>
            For example, 'Dutch' not 'Netherlands'.
            </div>

          <fieldset class="govuk-fieldset">
            
            <div class="govuk-form-group">
              
                      <select id="government-organisations" name="nationality-2" class="govuk-input">

                        <option value="No" ></option>
                        <option value="Afghan" >Afghan</option>
                        <option value="Albanian" >Albanian</option>
                        <option value="Algerian" >Algerian</option>
                        <option value="American" >American</option>
                        <option value="Andorran" >Andorran</option>
                        <option value="Angolan" >Angolan</option>
                        <option value="Anguillan" >Anguillan</option>
                        <option value="Argentine" >Argentine</option>
                        <option value="Armenian" >Armenian</option>
                        <option value="Australian" >Australian</option>
                        <option value="Austrian" >Austrian</option>
                        <option value="Azerbaijani" >Azerbaijani</option>
                        <option value="Bahamian" >Bahamian</option>
                        <option value="Bahraini" >Bahraini</option>
                        <option value="Bangladeshi" >Bangladeshi</option>
                        <option value="Barbadian" >Barbadian</option>
                        <option value="Belarusian" >Belarusian</option>
                        <option value="Belgian" >Belgian</option>
                        <option value="Belizean" >Belizean</option>
                        <option value="Beninese" >Beninese</option>
                        <option value="Bermudian" >Bermudian</option>
                        <option value="Bhutanese" >Bhutanese</option>
                        <option value="Bolivian" >Bolivian</option>
                        <option value="Botswanan" >Botswanan</option>
                        <option value="Brazilian" >Brazilian</option>
                        <option value="British" >British</option>
                        <option value="British Virgin Islander" >British Virgin Islander</option>
                        <option value="Bruneian" >Bruneian</option>
                        <option value="Bulgarian" >Bulgarian</option>
                        <option value="Burkinan" >Burkinan</option>
                        <option value="Burmese" >Burmese</option>
                        <option value="Burundian" >Burundian</option>
                        <option value="Cambodian" >Cambodian</option>
                        <option value="Cameroonian" >Cameroonian</option>
                        <option value="Canadian" >Canadian</option>
                        <option value="Cape Verdean" >Cape Verdean</option>
                        <option value="Cayman Islander" >Cayman Islander</option>
                        <option value="Central African" >Central African</option>
                        <option value="Chadian" >Chadian</option>
                        <option value="Chilean" >Chilean</option>
                        <option value="Chinese" >Chinese</option>
                        <option value="Citizen of Antigua and Barbuda" >Citizen of Antigua and Barbuda</option>
                        <option value="Citizen of Bosnia and Herzegovina" >Citizen of Bosnia and Herzegovina</option>
                        <option value="Citizen of Guinea-Bissau" >Citizen of Guinea-Bissau</option>
                        <option value="Citizen of Kiribati" >Citizen of Kiribati</option>
                        <option value="Citizen of Seychelles" >Citizen of Seychelles</option>
                        <option value="Citizen of the Dominican Republic" >Citizen of the Dominican Republic</option>
                        <option value="Citizen of Vanuatu" >Citizen of Vanuatu</option>
                        <option value="Colombian" >Colombian</option>
                        <option value="Comoran" >Comoran</option>
                        <option value="Congolese (Congo)" >Congolese (Congo)</option>
                        <option value="Congolese (DRC)" >Congolese (DRC)</option>
                        <option value="Cook Islander" >Cook Islander</option>
                        <option value="Costa Rican" >Costa Rican</option>
                        <option value="Croatian" >Croatian</option>
                        <option value="Cuban" >Cuban</option>
                        <option value="Cymraes" >Cymraes</option>
                        <option value="Cymro" >Cymro</option>
                        <option value="Cypriot" >Cypriot</option>
                        <option value="Czech" >Czech</option>
                        <option value="Danish" >Danish</option>
                        <option value="Djiboutian" >Djiboutian</option>
                        <option value="Dominican" >Dominican</option>
                        <option value="Dutch" >Dutch</option>
                        <option value="East Timorese" >East Timorese</option>
                        <option value="Ecuadorean" >Ecuadorean</option>
                        <option value="Egyptian" >Egyptian</option>
                        <option value="Emirati" >Emirati</option>
                        <option value="English" >English</option>
                        <option value="Equatorial Guinean" >Equatorial Guinean</option>
                        <option value="Eritrean" >Eritrean</option>
                        <option value="Estonian" >Estonian</option>
                        <option value="Ethiopian" >Ethiopian</option>
                        <option value="Faroese" >Faroese</option>
                        <option value="Fijian" >Fijian</option>
                        <option value="Filipino" >Filipino</option>
                        <option value="Finnish" >Finnish</option>
                        <option value="French" >French</option>
                        <option value="Gabonese" >Gabonese</option>
                        <option value="Gambian" >Gambian</option>
                        <option value="Georgian" >Georgian</option>
                        <option value="German" >German</option>
                        <option value="Ghanaian" >Ghanaian</option>
                        <option value="Gibraltarian" >Gibraltarian</option>
                        <option value="Greek" >Greek</option>
                        <option value="Greenlandic" >Greenlandic</option>
                        <option value="Grenadian" >Grenadian</option>
                        <option value="Guamanian" >Guamanian</option>
                        <option value="Guatemalan" >Guatemalan</option>
                        <option value="Guinean" >Guinean</option>
                        <option value="Guyanese" >Guyanese</option>
                        <option value="Haitian" >Haitian</option>
                        <option value="Honduran" >Honduran</option>
                        <option value="Hong Konger" >Hong Konger</option>
                        <option value="Hungarian" >Hungarian</option>
                        <option value="Icelandic" >Icelandic</option>
                        <option value="Indian" >Indian</option>
                        <option value="Indonesian" >Indonesian</option>
                        <option value="Iranian" >Iranian</option>
                        <option value="Iraqi" >Iraqi</option>
                        <option value="Irish" >Irish</option>
                        <option value="Israeli" >Israeli</option>
                        <option value="Italian" >Italian</option>
                        <option value="Ivorian" >Ivorian</option>
                        <option value="Jamaican" >Jamaican</option>
                        <option value="Japanese" >Japanese</option>
                        <option value="Jordanian" >Jordanian</option>
                        <option value="Kazakh" >Kazakh</option>
                        <option value="Kenyan" >Kenyan</option>
                        <option value="Kittitian" >Kittitian</option>
                        <option value="Kosovan" >Kosovan</option>
                        <option value="Kuwaiti" >Kuwaiti</option>
                        <option value="Kyrgyz" >Kyrgyz</option>
                        <option value="Lao" >Lao</option>
                        <option value="Latvian" >Latvian</option>
                        <option value="Lebanese" >Lebanese</option>
                        <option value="Liberian" >Liberian</option>
                        <option value="Libyan" >Libyan</option>
                        <option value="Liechtenstein citizen" >Liechtenstein citizen</option>
                        <option value="Lithuanian" >Lithuanian</option>
                        <option value="Luxembourger" >Luxembourger</option>
                        <option value="Macanese" >Macanese</option>
                        <option value="Macedonian" >Macedonian</option>
                        <option value="Malagasy" >Malagasy</option>
                        <option value="Malawian" >Malawian</option>
                        <option value="Malaysian" >Malaysian</option>
                        <option value="Maldivian" >Maldivian</option>
                        <option value="Malian" >Malian</option>
                        <option value="Maltese" >Maltese</option>
                        <option value="Marshallese" >Marshallese</option>
                        <option value="Martiniquais" >Martiniquais</option>
                        <option value="Mauritanian" >Mauritanian</option>
                        <option value="Mauritian" >Mauritian</option>
                        <option value="Mexican" >Mexican</option>
                        <option value="Micronesian" >Micronesian</option>
                        <option value="Moldovan" >Moldovan</option>
                        <option value="Monegasque" >Monegasque</option>
                        <option value="Mongolian" >Mongolian</option>
                        <option value="Montenegrin" >Montenegrin</option>
                        <option value="Montserratian" >Montserratian</option>
                        <option value="Moroccan" >Moroccan</option>
                        <option value="Mosotho" >Mosotho</option>
                        <option value="Mozambican" >Mozambican</option>
                        <option value="Namibian" >Namibian</option>
                        <option value="Nauruan" >Nauruan</option>
                        <option value="Nepalese" >Nepalese</option>
                        <option value="New Zealander" >New Zealander</option>
                        <option value="Nicaraguan" >Nicaraguan</option>
                        <option value="Nigerian" >Nigerian</option>
                        <option value="Nigerien" >Nigerien</option>
                        <option value="Niuean" >Niuean</option>
                        <option value="North Korean" >North Korean</option>
                        <option value="Northern Irish" >Northern Irish</option>
                        <option value="Norwegian" >Norwegian</option>
                        <option value="Omani" >Omani</option>
                        <option value="Pakistani" >Pakistani</option>
                        <option value="Palauan" >Palauan</option>
                        <option value="Palestinian" >Palestinian</option>
                        <option value="Panamanian" >Panamanian</option>
                        <option value="Papua New Guinean" >Papua New Guinean</option>
                        <option value="Paraguayan" >Paraguayan</option>
                        <option value="Peruvian" >Peruvian</option>
                        <option value="Pitcairn Islander" >Pitcairn Islander</option>
                        <option value="Polish" >Polish</option>
                        <option value="Portuguese" >Portuguese</option>
                        <option value="Prydeinig" >Prydeinig</option>
                        <option value="Puerto Rican" >Puerto Rican</option>
                        <option value="Qatari" >Qatari</option>
                        <option value="Romanian" >Romanian</option>
                        <option value="Russian" >Russian</option>
                        <option value="Rwandan" >Rwandan</option>
                        <option value="Salvadorean" >Salvadorean</option>
                        <option value="Sammarinese" >Sammarinese</option>
                        <option value="Samoan" >Samoan</option>
                        <option value="Sao Tomean" >Sao Tomean</option>
                        <option value="Saudi Arabian" >Saudi Arabian</option>
                        <option value="Scottish" >Scottish</option>
                        <option value="Senegalese" >Senegalese</option>
                        <option value="Serbian" >Serbian</option>
                        <option value="Sierra Leonean" >Sierra Leonean</option>
                        <option value="Singaporean" >Singaporean</option>
                        <option value="Slovak" >Slovak</option>
                        <option value="Slovenian" >Slovenian</option>
                        <option value="Solomon Islander" >Solomon Islander</option>
                        <option value="Somali" >Somali</option>
                        <option value="South African" >South African</option>
                        <option value="South Korean" >South Korean</option>
                        <option value="South Sudanese" >South Sudanese</option>
                        <option value="Spanish" >Spanish</option>
                        <option value="Sri Lankan" >Sri Lankan</option>
                        <option value="St Helenian" >St Helenian</option>
                        <option value="St Lucian" >St Lucian</option>
                        <option value="Stateless" >Stateless</option>
                        <option value="Sudanese" >Sudanese</option>
                        <option value="Surinamese" >Surinamese</option>
                        <option value="Swazi" >Swazi</option>
                        <option value="Swedish" >Swedish</option>
                        <option value="Swiss" >Swiss</option>
                        <option value="Syrian" >Syrian</option>
                        <option value="Taiwanese" >Taiwanese</option>
                        <option value="Tajik" >Tajik</option>
                        <option value="Tanzanian" >Tanzanian</option>
                        <option value="Thai" >Thai</option>
                        <option value="Togolese" >Togolese</option>
                        <option value="Tongan" >Tongan</option>
                        <option value="Trinidadian" >Trinidadian</option>
                        <option value="Tristanian" >Tristanian</option>
                        <option value="Tunisian" >Tunisian</option>
                        <option value="Turkish" >Turkish</option>
                        <option value="Turkmen" >Turkmen</option>
                        <option value="Turks and Caicos Islander" >Turks and Caicos Islander</option>
                        <option value="Tuvaluan" >Tuvaluan</option>
                        <option value="Ugandan" >Ugandan</option>
                        <option value="Ukrainian" >Ukrainian</option>
                        <option value="Uruguayan" >Uruguayan</option>
                        <option value="Uzbek" >Uzbek</option>
                        <option value="Vatican citizen" >Vatican citizen</option>
                        <option value="Venezuelan" >Venezuelan</option>
                        <option value="Vietnamese" >Vietnamese</option>
                        <option value="Vincentian" >Vincentian</option>
                        <option value="Wallisian" >Wallisian</option>
                        <option value="Welsh" >Welsh</option>
                        <option value="Yemeni" >Yemeni</option>
                        <option value="Zambian" >Zambian</option>
                        <option value="Zimbabwean" >Zimbabwean</option>
                      </select>

                    </div>

           
<br><br>

{% if data['uk-national'] === 'no' %} 

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
       Do you have a second nationality?
      </h1>
        </legend>

        <br>
    
  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
        <div class="govuk-form-group">
          </div>
     
      <h1 class="govuk-heading-s">Second nationality</h1>
        <form method="post">

          <fieldset class="govuk-fieldset">
            
            <div class="govuk-form-group">
              
                      <select id="government-organisations" name="nationality-2-2" class="govuk-input">

                        <option value="" ></option>
                        <option value="Afghan" >Afghan</option>
                        <option value="Albanian" >Albanian</option>
                        <option value="Algerian" >Algerian</option>
                        <option value="American" >American</option>
                        <option value="Andorran" >Andorran</option>
                        <option value="Angolan" >Angolan</option>
                        <option value="Anguillan" >Anguillan</option>
                        <option value="Argentine" >Argentine</option>
                        <option value="Armenian" >Armenian</option>
                        <option value="Australian" >Australian</option>
                        <option value="Austrian" >Austrian</option>
                        <option value="Azerbaijani" >Azerbaijani</option>
                        <option value="Bahamian" >Bahamian</option>
                        <option value="Bahraini" >Bahraini</option>
                        <option value="Bangladeshi" >Bangladeshi</option>
                        <option value="Barbadian" >Barbadian</option>
                        <option value="Belarusian" >Belarusian</option>
                        <option value="Belgian" >Belgian</option>
                        <option value="Belizean" >Belizean</option>
                        <option value="Beninese" >Beninese</option>
                        <option value="Bermudian" >Bermudian</option>
                        <option value="Bhutanese" >Bhutanese</option>
                        <option value="Bolivian" >Bolivian</option>
                        <option value="Botswanan" >Botswanan</option>
                        <option value="Brazilian" >Brazilian</option>
                        <option value="British" >British</option>
                        <option value="British Virgin Islander" >British Virgin Islander</option>
                        <option value="Bruneian" >Bruneian</option>
                        <option value="Bulgarian" >Bulgarian</option>
                        <option value="Burkinan" >Burkinan</option>
                        <option value="Burmese" >Burmese</option>
                        <option value="Burundian" >Burundian</option>
                        <option value="Cambodian" >Cambodian</option>
                        <option value="Cameroonian" >Cameroonian</option>
                        <option value="Canadian" >Canadian</option>
                        <option value="Cape Verdean" >Cape Verdean</option>
                        <option value="Cayman Islander" >Cayman Islander</option>
                        <option value="Central African" >Central African</option>
                        <option value="Chadian" >Chadian</option>
                        <option value="Chilean" >Chilean</option>
                        <option value="Chinese" >Chinese</option>
                        <option value="Citizen of Antigua and Barbuda" >Citizen of Antigua and Barbuda</option>
                        <option value="Citizen of Bosnia and Herzegovina" >Citizen of Bosnia and Herzegovina</option>
                        <option value="Citizen of Guinea-Bissau" >Citizen of Guinea-Bissau</option>
                        <option value="Citizen of Kiribati" >Citizen of Kiribati</option>
                        <option value="Citizen of Seychelles" >Citizen of Seychelles</option>
                        <option value="Citizen of the Dominican Republic" >Citizen of the Dominican Republic</option>
                        <option value="Citizen of Vanuatu" >Citizen of Vanuatu</option>
                        <option value="Colombian" >Colombian</option>
                        <option value="Comoran" >Comoran</option>
                        <option value="Congolese (Congo)" >Congolese (Congo)</option>
                        <option value="Congolese (DRC)" >Congolese (DRC)</option>
                        <option value="Cook Islander" >Cook Islander</option>
                        <option value="Costa Rican" >Costa Rican</option>
                        <option value="Croatian" >Croatian</option>
                        <option value="Cuban" >Cuban</option>
                        <option value="Cymraes" >Cymraes</option>
                        <option value="Cymro" >Cymro</option>
                        <option value="Cypriot" >Cypriot</option>
                        <option value="Czech" >Czech</option>
                        <option value="Danish" >Danish</option>
                        <option value="Djiboutian" >Djiboutian</option>
                        <option value="Dominican" >Dominican</option>
                        <option value="Dutch" >Dutch</option>
                        <option value="East Timorese" >East Timorese</option>
                        <option value="Ecuadorean" >Ecuadorean</option>
                        <option value="Egyptian" >Egyptian</option>
                        <option value="Emirati" >Emirati</option>
                        <option value="English" >English</option>
                        <option value="Equatorial Guinean" >Equatorial Guinean</option>
                        <option value="Eritrean" >Eritrean</option>
                        <option value="Estonian" >Estonian</option>
                        <option value="Ethiopian" >Ethiopian</option>
                        <option value="Faroese" >Faroese</option>
                        <option value="Fijian" >Fijian</option>
                        <option value="Filipino" >Filipino</option>
                        <option value="Finnish" >Finnish</option>
                        <option value="French" >French</option>
                        <option value="Gabonese" >Gabonese</option>
                        <option value="Gambian" >Gambian</option>
                        <option value="Georgian" >Georgian</option>
                        <option value="German" >German</option>
                        <option value="Ghanaian" >Ghanaian</option>
                        <option value="Gibraltarian" >Gibraltarian</option>
                        <option value="Greek" >Greek</option>
                        <option value="Greenlandic" >Greenlandic</option>
                        <option value="Grenadian" >Grenadian</option>
                        <option value="Guamanian" >Guamanian</option>
                        <option value="Guatemalan" >Guatemalan</option>
                        <option value="Guinean" >Guinean</option>
                        <option value="Guyanese" >Guyanese</option>
                        <option value="Haitian" >Haitian</option>
                        <option value="Honduran" >Honduran</option>
                        <option value="Hong Konger" >Hong Konger</option>
                        <option value="Hungarian" >Hungarian</option>
                        <option value="Icelandic" >Icelandic</option>
                        <option value="Indian" >Indian</option>
                        <option value="Indonesian" >Indonesian</option>
                        <option value="Iranian" >Iranian</option>
                        <option value="Iraqi" >Iraqi</option>
                        <option value="Irish" >Irish</option>
                        <option value="Israeli" >Israeli</option>
                        <option value="Italian" >Italian</option>
                        <option value="Ivorian" >Ivorian</option>
                        <option value="Jamaican" >Jamaican</option>
                        <option value="Japanese" >Japanese</option>
                        <option value="Jordanian" >Jordanian</option>
                        <option value="Kazakh" >Kazakh</option>
                        <option value="Kenyan" >Kenyan</option>
                        <option value="Kittitian" >Kittitian</option>
                        <option value="Kosovan" >Kosovan</option>
                        <option value="Kuwaiti" >Kuwaiti</option>
                        <option value="Kyrgyz" >Kyrgyz</option>
                        <option value="Lao" >Lao</option>
                        <option value="Latvian" >Latvian</option>
                        <option value="Lebanese" >Lebanese</option>
                        <option value="Liberian" >Liberian</option>
                        <option value="Libyan" >Libyan</option>
                        <option value="Liechtenstein citizen" >Liechtenstein citizen</option>
                        <option value="Lithuanian" >Lithuanian</option>
                        <option value="Luxembourger" >Luxembourger</option>
                        <option value="Macanese" >Macanese</option>
                        <option value="Macedonian" >Macedonian</option>
                        <option value="Malagasy" >Malagasy</option>
                        <option value="Malawian" >Malawian</option>
                        <option value="Malaysian" >Malaysian</option>
                        <option value="Maldivian" >Maldivian</option>
                        <option value="Malian" >Malian</option>
                        <option value="Maltese" >Maltese</option>
                        <option value="Marshallese" >Marshallese</option>
                        <option value="Martiniquais" >Martiniquais</option>
                        <option value="Mauritanian" >Mauritanian</option>
                        <option value="Mauritian" >Mauritian</option>
                        <option value="Mexican" >Mexican</option>
                        <option value="Micronesian" >Micronesian</option>
                        <option value="Moldovan" >Moldovan</option>
                        <option value="Monegasque" >Monegasque</option>
                        <option value="Mongolian" >Mongolian</option>
                        <option value="Montenegrin" >Montenegrin</option>
                        <option value="Montserratian" >Montserratian</option>
                        <option value="Moroccan" >Moroccan</option>
                        <option value="Mosotho" >Mosotho</option>
                        <option value="Mozambican" >Mozambican</option>
                        <option value="Namibian" >Namibian</option>
                        <option value="Nauruan" >Nauruan</option>
                        <option value="Nepalese" >Nepalese</option>
                        <option value="New Zealander" >New Zealander</option>
                        <option value="Nicaraguan" >Nicaraguan</option>
                        <option value="Nigerian" >Nigerian</option>
                        <option value="Nigerien" >Nigerien</option>
                        <option value="Niuean" >Niuean</option>
                        <option value="North Korean" >North Korean</option>
                        <option value="Northern Irish" >Northern Irish</option>
                        <option value="Norwegian" >Norwegian</option>
                        <option value="Omani" >Omani</option>
                        <option value="Pakistani" >Pakistani</option>
                        <option value="Palauan" >Palauan</option>
                        <option value="Palestinian" >Palestinian</option>
                        <option value="Panamanian" >Panamanian</option>
                        <option value="Papua New Guinean" >Papua New Guinean</option>
                        <option value="Paraguayan" >Paraguayan</option>
                        <option value="Peruvian" >Peruvian</option>
                        <option value="Pitcairn Islander" >Pitcairn Islander</option>
                        <option value="Polish" >Polish</option>
                        <option value="Portuguese" >Portuguese</option>
                        <option value="Prydeinig" >Prydeinig</option>
                        <option value="Puerto Rican" >Puerto Rican</option>
                        <option value="Qatari" >Qatari</option>
                        <option value="Romanian" >Romanian</option>
                        <option value="Russian" >Russian</option>
                        <option value="Rwandan" >Rwandan</option>
                        <option value="Salvadorean" >Salvadorean</option>
                        <option value="Sammarinese" >Sammarinese</option>
                        <option value="Samoan" >Samoan</option>
                        <option value="Sao Tomean" >Sao Tomean</option>
                        <option value="Saudi Arabian" >Saudi Arabian</option>
                        <option value="Scottish" >Scottish</option>
                        <option value="Senegalese" >Senegalese</option>
                        <option value="Serbian" >Serbian</option>
                        <option value="Sierra Leonean" >Sierra Leonean</option>
                        <option value="Singaporean" >Singaporean</option>
                        <option value="Slovak" >Slovak</option>
                        <option value="Slovenian" >Slovenian</option>
                        <option value="Solomon Islander" >Solomon Islander</option>
                        <option value="Somali" >Somali</option>
                        <option value="South African" >South African</option>
                        <option value="South Korean" >South Korean</option>
                        <option value="South Sudanese" >South Sudanese</option>
                        <option value="Spanish" >Spanish</option>
                        <option value="Sri Lankan" >Sri Lankan</option>
                        <option value="St Helenian" >St Helenian</option>
                        <option value="St Lucian" >St Lucian</option>
                        <option value="Stateless" >Stateless</option>
                        <option value="Sudanese" >Sudanese</option>
                        <option value="Surinamese" >Surinamese</option>
                        <option value="Swazi" >Swazi</option>
                        <option value="Swedish" >Swedish</option>
                        <option value="Swiss" >Swiss</option>
                        <option value="Syrian" >Syrian</option>
                        <option value="Taiwanese" >Taiwanese</option>
                        <option value="Tajik" >Tajik</option>
                        <option value="Tanzanian" >Tanzanian</option>
                        <option value="Thai" >Thai</option>
                        <option value="Togolese" >Togolese</option>
                        <option value="Tongan" >Tongan</option>
                        <option value="Trinidadian" >Trinidadian</option>
                        <option value="Tristanian" >Tristanian</option>
                        <option value="Tunisian" >Tunisian</option>
                        <option value="Turkish" >Turkish</option>
                        <option value="Turkmen" >Turkmen</option>
                        <option value="Turks and Caicos Islander" >Turks and Caicos Islander</option>
                        <option value="Tuvaluan" >Tuvaluan</option>
                        <option value="Ugandan" >Ugandan</option>
                        <option value="Ukrainian" >Ukrainian</option>
                        <option value="Uruguayan" >Uruguayan</option>
                        <option value="Uzbek" >Uzbek</option>
                        <option value="Vatican citizen" >Vatican citizen</option>
                        <option value="Venezuelan" >Venezuelan</option>
                        <option value="Vietnamese" >Vietnamese</option>
                        <option value="Vincentian" >Vincentian</option>
                        <option value="Wallisian" >Wallisian</option>
                        <option value="Welsh" >Welsh</option>
                        <option value="Yemeni" >Yemeni</option>
                        <option value="Zambian" >Zambian</option>
                        <option value="Zimbabwean" >Zimbabwean</option>
                      </select>

                    </div>

        

</div>
</details>

<div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="contact" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          No
        </label>
      </div>


            </div>
        </div>
    </div>
    
    
      
      


  </fieldset>
</div>




            </div>
        </div>

          </fieldset>

          {% endif %}


          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>



      </div>

    </div>

</div>
</main>
</div>
{% endblock %}
