{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

          {% include 'current/includes/_bar.html' %}

        

            <br>
            <br>

            <h1 class="govuk-heading-l">Confirm preferred language</h1>

            <form method="post" action="/current/record-view/contact-tab/contact-details">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  </legend>
                  <div class="govuk-radios govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="stop-payments-1" name="next-page" type="radio" value="/current/record-view/contact-tab/contact-eng" data-value="Yes">
                      <label class="govuk-label govuk-radios__label" for="stop-payments-1">
                        English
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="stop-payments-2" name="next-page" type="radio" value="/current/record-view/contact-tab/contact-welsh" data-value="No">
                      <label class="govuk-label govuk-radios__label" for="stop-payments-2">
                      Welsh
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>


              <button type="submit" class="govuk-button">
                Continue
              </button>
     
            {% if data ['next-page'] =='/current/record-view/contact-tab/contact-eng' %}
              <input type="hidden" name="preferred-language" value="English">
            {% elif data ['next-page'] =='/current/record-view/contact-tab/contact-welsh' %}
            <input type="hidden" name="preferred-language" value="Welsh">
            {% endif %}   

       
              
            </form>


      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
