{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}


{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form method="post">
          {{ govukBackLink({
              text: "Back",
              href: "javascript:history.go(-1)"
            }) }}
        {% include 'current/includes/_bar.html' %}





          <form method="post">

            <h1 class="govuk-heading-m">Current address</h1>




            <table class="govuk-table">
              <caption class="govuk-table__caption"></caption>



              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Address</th>
                  <td class="govuk-table__cell govuk-!-width-one-half">
                  Hallington Court<a href="address" class="table-links-padding-left" style="float:right">Change</span> </a><br>
                  130 Caradon Hill<br>
                    UDNY GREEN<br>
                    AB41 1JG</td>
                </tr>
              </thead>

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Date moved in</th>
                  <td class="govuk-table__cell">20 August 2021<a href="move-date" style="float:right">Change</span> </a></td>
                </tr>
              </thead>


            </table>



            <br><br>

<div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="dap-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                Before moving into the care home, did this citizen live with anyone else who qualifies for a Winter Fuel Payment?
                  </h1>
                </legend>

                <div id="dap-hint" class="govuk-hint">

                </div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
        <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="13-week" type="radio" value="yes" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="13-week" type="radio" value="no" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>
<br>
<br>
<p><a href="next-task" class="govuk-link">Return this case to the queue</a></p>
<br>
            <button type="submit" class="govuk-button">
              Continue
            </button>



          </form>

      </div>

    </div>

</div>

</main>
</div>

<script>
    nextPageRoutes = {
        'yes': '13-week-yes',
        'no': 'tasks-6-no',
     }
</script>

{% endblock %}
