{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-check.html' %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
    }) }}

    <br>
    <br>

    <h1 class="govuk-heading-xl">Caseload statuses</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="sp-panel-deck">

          <p class="sp-panel-deck__panel sp-panel-deck__panel--black-bg govuk-heading-l sp-panel-deck__panel_content sp-panel--white-text">
          17.13 M
            <span class="govuk-caption-l sp-panel--white-text" aria-hidden="true">Total cases</span>
            <span class="govuk-visually-hidden">for this year</span>
          </p>


          <a href="download-csv-file" class="sp-panel-deck__panel sp-panel-deck__link-panel govuk-heading-l sp-panel-deck__panel_content sp-panel--white-text" style="color: #ffffff">
            11.34 M
            <span class="govuk-caption-l sp-panel--white-text" aria-hidden="true" style="text-decoration:underline">Eligible cases</span><br>
            <span class="govuk-caption-m sp-panel--white-text" aria-hidden="true" style="text-decoration:underline">(download csv file)</span>
            <span class="govuk-visually-hidden">for this year</span>
          </a>

          <a href="ineligible" class="sp-panel-deck__panel  sp-panel-deck__link-panel govuk-heading-l sp-panel-deck__panel_content sp-panel--white-text" style="color: #ffffff" >
            2.1 M
            <span class="govuk-caption-l sp-panel--white-text" aria-hidden="true" style="text-decoration:underline">Ineligible cases</span>
            <span class="govuk-visually-hidden">for this year</span>
          </a>

          <a href="error" class="sp-panel-deck__panel sp-panel-deck__link-panel sp-panel-deck__last-panel--no-border govuk-heading-l sp-panel-deck__panel_content sp-panel--white-text"
            style="color: #ffffff">
            <span>265,998</span>
            <span class="govuk-caption-l sp-panel--white-text" aria-hidden="true" style="text-decoration:underline">In-error cases</span>
            <span class="govuk-visually-hidden">for this year</span>
          </a>

          
        </div>

      </div>

    </div>

  </div>
</div>


{% endblock %}
