{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}


{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form method="post">
          {% include 'current/includes/_bar.html' %}

   

            <h1 class="govuk-heading-m">Details</h1>
            <table class="govuk-table">
              <caption class="govuk-table__caption"></caption>
              <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Date of birth</th>
                    <td class="govuk-table__cell govuk-!-width-one-half">29 August 1927</td>
                  </tr>
                </thead>

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Address</th>
                  <td class="govuk-table__cell">27 Kent Street<br>
                    AMBLE<br>
                    NE65 0LZ<br><br>
                    Since 12 July 2019</td>
                </tr>
              </thead>

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Home phone</th>
                  <td class="govuk-table__cell">01916352781</td>
                </tr>
                </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Mobile phone</th>
                  <td class="govuk-table__cell">07965123654</td>
                </tr>
                </thead>

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Benefit type</th>
                  <td class="govuk-table__cell">Pension Credit</td>
                </tr>
                </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Occupancy</th>
                  <td class="govuk-table__cell">Lives with someone else who gets Winter Fuel Payment<br><br>
                    Since 12 July 2019</td>
                </tr>
              </thead>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Payment amount</th>
                  <td class="govuk-table__cell">£150</td>
                </tr>
              </thead>
               <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Name on account</th>
                  <td class="govuk-table__cell">T D Best</td>
                </tr>
              </thead>
              {% if data['uk']=='yes'%}
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Sort code</th>
                    <td class="govuk-table__cell govuk-!-width-one-half">008899</td>
                  </tr>
                </thead>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Account number</th>
                    <td class="govuk-table__cell">12345678</td>
                  </tr>
                </thead>
              {% else %}
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">BIC or SWIFT code</th>
                  <td class="govuk-table__cell">SBININBB425</td>
                </tr>
                </thead>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">IBAN</th>
                    <td class="govuk-table__cell">AT483200000012345864</td>
                  </tr>
                </thead>
              {% endif %}
            </table>

            <br>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="bank-details-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                Case options
                  </h1>
                </legend>
                <div id="bank-details-hint" class="govuk-hint">

                </div>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="bank-details" name="bank-details" type="radio" value="add">
                    <label class="govuk-label govuk-radios__label" for="bank-details">
                      Add new account details
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="bank-details" name="bank-details" type="radio" value="return">
                    <label class="govuk-label govuk-radios__label" for="bank-details-2">
                      No new account details to add - return case to queue
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="bank-details" name="bank-details" type="radio" value="remove">
                    <label class="govuk-label govuk-radios__label" for="bank-details-3">
                      International payment approved
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="bank-details" name="bank-details" type="radio" value="ineligible">
                    <label class="govuk-label govuk-radios__label" for="bank-details-4">
                      Citizen is ineligible for payment - remove from queue
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>
<a href="/current/tasks/fix-account-details/case-returned.html">Return this case to the queue</a>
      </div>

    </div>

</div>

</main>
</div>

<script>
    nextPageRoutes = {
        'add': 'bank-details.html',
        'return': 'case-returned.html',
        'remove': 'get-next-task.html',
        'ineligible': 'confirm-remove.html',
      }
</script>

{% endblock %}
