{% extends "layout.html" %}

{% block header %}
{% include '../includes/_header-manage-admin.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Find details for all cases</h1>


        <form method="post" action="find-details-results">
          <div class="govuk-form-group">
            <label class="govuk-label" for="nino">
              Search by National Insurance number or case ID
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="nino-or-id" name="nino-or-id" type="nino" aria-describedby="nino-hint">
          </div>

          <button type="submit" class="govuk-button">
            Find
          </button>

        </form>



        </div>

      </div>

    </div>
    </main>
    </div>

    {% endblock %}
