{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-tasks.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form method="post" action="/legacy/sprint56/bank-task">

          <h1 class="govuk-heading-xl">Fix account details</h1>


          <div id="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">

                <p><strong>If you only want to see a certain type of case, select an option below</strong></p>

                <div class="govuk-checkboxes govuk-checkboxes--small">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="fix-account-details" name="fix-account-details" type="checkbox" value="international">
                    <label class="govuk-label govuk-checkboxes__label" for="fix-account-details">
                      UK address with international bank account details - 400 cases
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="fix-account-details-2" name="fix-account-details" type="checkbox" value="other">
                    <label class="govuk-label govuk-checkboxes__label" for="fix-account-details-2">
                      Other bank account problems - 492 cases
                    </label>
                  </div>
                </div>
              </div>

      <button class="govuk-button" data-module="govuk-button" button type=“submit”>
        Continue
      </button>
      </form>
    </div>

</div>

</main>
</div>

{% endblock %}
