{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <form method="post">

{% include './_bar.html' %}

            {% include './_tab-history.html' %}

            <br>
            <br>


            <id="top">

            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="new-verify-address-mvp2-current">Current exercise</a>
              </li>
              <li>
                <a class="govuk-link" href="new-verify-address-mvp2-2020to2021">2020 to 2021</a>
              </li>
              <li>
                <a class="govuk-link" href="new-verify-address-mvp2-2019to2020">2019 to 2020</a>
              </li>
              <li>
                <a class="govuk-link" href="new-verify-address-mvp2-2018to2019">2018 to 2019</a>
              </li>
              <li>
                <a class="govuk-link" href="new-verify-address-mvp2">View all</a>
              </li>
            </ul>


             <h2 class="govuk-heading-l" id="0">
              Current exercise
            </h2>

              <table class="govuk-table">

                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" style="width:38%">Date</th>
                    <th scope="col" class="govuk-table__header" style="width:40%">Action</th>
                    <th scope="col" class="govuk-table__header" >By</th>
                    <th scope="col" class="govuk-table__header" ></th>
                  </tr>


                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >25 Jan 2022 </td>
                    <td class="govuk-table__cell" >Payment paid </td>
                    <td class="govuk-table__cell" >SPS</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">17 Jan 2022 </td>
                    <td class="govuk-table__cell">Annual payment letter sent  </td>
                    <td class="govuk-table__cell">SPS</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >13 Jan 2022</td>
                    <td class="govuk-table__cell" >Annual payment calculated as £100  </td>
                    <td class="govuk-table__cell" >SPS</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >13 Jan 2022 13.09</td>
                    <td class="govuk-table__cell" >Change of address / occupancy / move date </td>
                    <td class="govuk-table__cell" >Staff 1265843</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >10 Oct 2021 11.21  </td>
                    <td class="govuk-table__cell" >Contact citizen task completed - no valid contact details for citizen  </td>
                    <td class="govuk-table__cell" >Staff 73229975 </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >8 Oct 2021  </td>
                    <td class="govuk-table__cell" >Verify address task - citizen did not answer phone - changed to Contact Citizen task  </td>
                    <td class="govuk-table__cell" >Staff 73226384</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >6 Oct 2021 </td>
                    <td class="govuk-table__cell" >Verify address - task created </td>
                    <td class="govuk-table__cell" >SPS</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >6 Oct 2021 </td>
                    <td class="govuk-table__cell" >Change of address / occupancy / move date </td>
                    <td class="govuk-table__cell" >SPS</td>
                  </tr>

                </tbody>
              </table>
              <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                   <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                     <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"> &nbsp;</path>
                   </svg>Back to top
                 </a>
              <br>
              <br>
              <br>
              <br>

            <h2 class="govuk-heading-l" id="1">
              2020 to 2021
            </h2>


              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" style="width:38%">Date</th>
                    <th scope="col" class="govuk-table__header" style="width:40%">Action</th>
                    <th scope="col" class="govuk-table__header">By</th>
                    <th scope="col" class="govuk-table__header"></th>
                  </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">18 Dec 2020</td>
                    <td class="govuk-table__cell">Occupancy changed</td>
                    <td class="govuk-table__cell">SPS
                  </td>

                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">11 Dec 2020</td>
                    <td class="govuk-table__cell">  Change to payment £150 paid </td>
                    <td class="govuk-table__cell">SPS
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">2 Sep 2020 14:30</td>
                  <td class="govuk-table__cell">Mobile phone changed<br>
                    Home phone changed<br>
                    Address changed</td>
                  <td class="govuk-table__cell">Staff 73229975</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" >17 Aug 2020 10:53</td>
                  <td class="govuk-table__cell" >Bank account changed</td>
                  <td class="govuk-table__cell" >Staff 17635285</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">2 Aug 2020 14:31</td>
                  <td class="govuk-table__cell">Mobile phone changed<br>
                    Home phone changed<br>
                    Address changed</td>
                  <td class="govuk-table__cell">Staff 73229975</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" >2 Aug 2020 14:30</td>
                  <td class="govuk-table__cell" >Bank account changed</td>
                  <td class="govuk-table__cell" >Staff 17635285</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">29 July 2020</td>
                    <td class="govuk-table__cell">Occupancy changed </td>
                    <td class="govuk-table__cell">SPS
                  </td>

                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">20 July 2020 14:30</td>
                    <td class="govuk-table__cell">Bank details changed</td>
                    <td class="govuk-table__cell">Staff 73229975
                  </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">19 July 2020</td>
                    <td class="govuk-table__cell">Occupancy changed </td>
                    <td class="govuk-table__cell">SPS
                  </td>

                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">15 July 2020 14:30</td>
                    <td class="govuk-table__cell">Bank details changed</td>
                    <td class="govuk-table__cell">Staff 73229975
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" >10 Mar 2020 14:30</td>
                  <td class="govuk-table__cell" >Bank account changed</td>
                  <td class="govuk-table__cell" >Staff 17635285</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">4 Feb 2020 10:53</td>
                  <td class="govuk-table__cell">Mobile phone changed<br>
                    Home phone changed<br>
                    Address changed</td>
                  <td class="govuk-table__cell">Staff 73229975</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" >28 Jan 2020 14:30</td>
                  <td class="govuk-table__cell" >Bank account changed</td>
                  <td class="govuk-table__cell" >Staff 17635285</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">27 Jan Dec 2020</td>
                    <td class="govuk-table__cell">Occupancy changed </td>
                    <td class="govuk-table__cell">SPS
                  </td>

                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">11 Jan 2020 14:30</td>
                    <td class="govuk-table__cell">Bank details changed</td>
                    <td class="govuk-table__cell">Staff 73229975
                  </td>
                </tr>
                </tbody>
              </table>
              <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                   <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                     <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"> &nbsp;</path>
                   </svg>Back to top
                 </a>
              <br>
              <br>
              <br>
              <br>

               <h2 class="govuk-heading-l" id="2">
              2019 to 2020
            </h2>

              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" style="width:38%">Date</th>
                    <th scope="col" class="govuk-table__header" style="width:40%">Action</th>
                    <th scope="col" class="govuk-table__header">By</th>
                    <th scope="col" class="govuk-table__header"></th>
                  </tr>

                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell">18 Dec 2019</td>
                      <td class="govuk-table__cell">Occupancy changed</td>
                      <td class="govuk-table__cell">SPS
                    </td>

                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">11 Dec 2019</td>
                      <td class="govuk-table__cell">  Change to payment £150 paid </td>
                      <td class="govuk-table__cell">SPS
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >17 Aug 2019 10:53</td>
                    <td class="govuk-table__cell" >Bank account changed</td>
                    <td class="govuk-table__cell" >Staff 17635285</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">2 Aug 2019 14:31</td>
                    <td class="govuk-table__cell">Mobile phone changed<br>
                      Home phone changed<br>
                      Address changed</td>
                    <td class="govuk-table__cell">Staff 73229975</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >2 Aug 2019 14:30</td>
                    <td class="govuk-table__cell" >Bank account changed</td>
                    <td class="govuk-table__cell" >Staff 17635285</td>
                  </tr>

                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell">29 July 2019</td>
                      <td class="govuk-table__cell">   Occupancy changed </td>
                      <td class="govuk-table__cell">SPS
                    </td>

                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">20 July 2019 14:30</td>
                      <td class="govuk-table__cell">Bank details changed</td>
                      <td class="govuk-table__cell">Staff 73229975
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell">19 July 2019</td>
                      <td class="govuk-table__cell">   Occupancy changed </td>
                      <td class="govuk-table__cell">SPS
                    </td>

                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">15 July 2019 14:30</td>
                      <td class="govuk-table__cell">Bank details changed</td>
                      <td class="govuk-table__cell">Staff 73229975
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >10 Mar 2019 14:30</td>
                    <td class="govuk-table__cell" >Bank account changed</td>
                    <td class="govuk-table__cell" >Staff 17635285</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">4 Feb 2019 10:53</td>
                    <td class="govuk-table__cell">Mobile phone changed<br>
                      Home phone changed<br>
                      Address changed</td>
                    <td class="govuk-table__cell">Staff 73229975</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" >28 Jan 2019 14:30</td>
                    <td class="govuk-table__cell" >Bank account changed</td>
                    <td class="govuk-table__cell" >Staff 17635285</td>
                  </tr>

                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell">27 Jan 2019</td>
                      <td class="govuk-table__cell">   Occupancy changed </td>
                      <td class="govuk-table__cell">SPS
                    </td>

                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">11 Jan 2019 14:30</td>
                      <td class="govuk-table__cell">Bank details changed</td>
                      <td class="govuk-table__cell">Staff 73229975
                    </td>
                  </tr>
                  </tbody>
                </table>              <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                   <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                     <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"> &nbsp;</path>
                   </svg>Back to top
                 </a>
              <br>
              <br>
              <br>
              <br>

              <h2 class="govuk-heading-l" id="3">
           2018 to 2019
         </h2>

         <table class="govuk-table">
           <tbody class="govuk-table__body">
             <tr class="govuk-table__row">
               <th scope="col" class="govuk-table__header" style="width:38%">Date</th>
               <th scope="col" class="govuk-table__header" style="width:40%">Action</th>
               <th scope="col" class="govuk-table__header">By</th>
               <th scope="col" class="govuk-table__header"></th>
             </tr>

             <tr class="govuk-table__row">
                 <td class="govuk-table__cell">18 Dec 2018</td>
                 <td class="govuk-table__cell">Occupancy changed</td>
                 <td class="govuk-table__cell">SPS
               </td>

               </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell">11 Dec 2018 </td>
                 <td class="govuk-table__cell">  Change to payment £150 paid </td>
                 <td class="govuk-table__cell">SPS
               </td>
             </tr>

             <tr class="govuk-table__row">
               <td class="govuk-table__cell">2 Sep 2018 14:30</td>
               <td class="govuk-table__cell">Mobile phone changed<br>
                 Home phone changed<br>
                 Address changed</td>
               <td class="govuk-table__cell">Staff 73229975</td>
             </tr>

             <tr class="govuk-table__row">
               <td class="govuk-table__cell" >17 Aug 2018 10:53</td>
               <td class="govuk-table__cell" >Bank account changed</td>
               <td class="govuk-table__cell" >Staff 17635285</td>
             </tr>

             <tr class="govuk-table__row">
               <td class="govuk-table__cell">2 Aug 2018 14:31</td>
               <td class="govuk-table__cell">Mobile phone changed<br>
                 Home phone changed<br>
                 Address changed</td>
               <td class="govuk-table__cell">Staff 73229975</td>
             </tr>

             <tr class="govuk-table__row">
               <td class="govuk-table__cell" >2 Aug 2018 14:30</td>
               <td class="govuk-table__cell" >Bank account changed</td>
               <td class="govuk-table__cell" >Staff 17635285</td>
             </tr>

             <tr class="govuk-table__row">
                 <td class="govuk-table__cell">29 July 2018 </td>
                 <td class="govuk-table__cell">   Occupancy changed </td>
                 <td class="govuk-table__cell">SPS
               </td>

               </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell">20 July 2018 14:30</td>
                 <td class="govuk-table__cell">Bank details changed</td>
                 <td class="govuk-table__cell">Staff 73229975
               </td>
             </tr>
             <tr class="govuk-table__row">
                 <td class="govuk-table__cell">19 July 2018 </td>
                 <td class="govuk-table__cell">   Occupancy changed </td>
                 <td class="govuk-table__cell">SPS
               </td>

               </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell">15 July 2018 14:30</td>
                 <td class="govuk-table__cell">Bank details changed</td>
                 <td class="govuk-table__cell">Staff 73229975
               </td>
             </tr>

             <tr class="govuk-table__row">
               <td class="govuk-table__cell" >10 Mar 2018 14:30</td>
               <td class="govuk-table__cell" >Bank account changed</td>
               <td class="govuk-table__cell" >Staff 17635285</td>
             </tr>

             <tr class="govuk-table__row">
               <td class="govuk-table__cell" >28 Jan 2018 14:30</td>
               <td class="govuk-table__cell" >Bank account changed</td>
               <td class="govuk-table__cell" >Staff 17635285</td>
             </tr>

             <tr class="govuk-table__row">
                 <td class="govuk-table__cell">27 Jan 2018 </td>
                 <td class="govuk-table__cell">   Occupancy changed </td>
                 <td class="govuk-table__cell">SPS
               </td>

               </tr>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell">11 Jan 2018 14:30</td>
                 <td class="govuk-table__cell">Bank details changed</td>
                 <td class="govuk-table__cell">Staff 73229975
               </td>
             </tr>
             </tbody>
           </table>



        <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
             <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
               <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"> &nbsp;</path>
             </svg>Back to top
           </a>

              <br>

          </div>

<!--
          <div class="govuk-grid-column-one-third">
            {% include './_history.html' %}
          </div>
-->
      </div>
      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
