{% extends "layout.html" %}

{% block header %}
{% include './_header-tasks.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form method="post">

          <h1 class="govuk-heading-xl">Tasks</h1>


          <form method=“post” action="tasks-review-overpayments">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="tasks-radio-hint">
                <div id="tasks-radio-hint" class="govuk-hint">
                  Select a task to continue
                </div>
                <div class="govuk-radios govuk-radios--small">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tasks-radio" name="tasks-radio" type="radio" value="verify-addresses" aria-describedby="tasks-radio-item-hint">
                    <label class="govuk-label govuk-radios__label" for="tasks-radio">
                      <strong>Verify addresses</strong> - 2,842 cases
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tasks-radio-2" name="tasks-radio" type="radio" value="fix-account-details" aria-describedby="tasks-radio-2-item-hint">
                    <label class="govuk-label govuk-radios__label" for="tasks-radio-2">
                      <strong>Fix account details</strong> - 892 cases
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tasks-radio-3" name="tasks-radio" type="radio" value="review-gsls" aria-describedby="tasks-radio-3-item-hint">
                    <label class="govuk-label govuk-radios__label" for="tasks-radio-3">
                      <strong>Review GSLs</strong> - 39 cases
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tasks-radio-4" name="tasks-radio" type="radio" value="review-overpayments" aria-describedby="tasks-radio-4-item-hint">
                    <label class="govuk-label govuk-radios__label" for="tasks-radio-4">
                      <strong>Review overpayments</strong> - 8,398 cases
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tasks-radio-5" name="tasks-radio" type="radio" value="pay-death-arrears" aria-describedby="tasks-radio-5-item-hint">
                    <label class="govuk-label govuk-radios__label" for="tasks-radio-5">
                      <strong>Pay death arrears</strong> - 3,927 cases
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tasks-radio-5" name="tasks-radio" type="radio" value="pay-death-arrears" aria-describedby="tasks-radio-5-item-hint">
                    <label class="govuk-label govuk-radios__label" for="tasks-radio-5">
                      <strong>Commercial addresses</strong> - 124 cases
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tasks-radio-5" name="tasks-radio" type="radio" value="pay-death-arrears" aria-describedby="tasks-radio-5-item-hint">
                    <label class="govuk-label govuk-radios__label" for="tasks-radio-5">
                      <strong>Care home 13 weeks</strong> - 1,429 cases
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tasks-radio-5" name="tasks-radio" type="radio" value="pay-death-arrears" aria-describedby="tasks-radio-5-item-hint">
                    <label class="govuk-label govuk-radios__label" for="tasks-radio-5">
                      <strong>Alternative formats</strong> - 281 cases
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tasks-radio-5" name="tasks-radio" type="radio" value="pay-death-arrears" aria-describedby="tasks-radio-5-item-hint">
                    <label class="govuk-label govuk-radios__label" for="tasks-radio-5">
                      <strong>Contact citizens (not prototyped)</strong> - 32 cases
                    </label>
                  </div>

                </div>

              </fieldset>
            </div>



                     <a button class="govuk-button" href="tasks-review-overpayments" >
                       Continue
                     </a>



        </form>


      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
