{% extends "layout.html" %}

{% block header %}
{% include './_header-tasks.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form method="post">

          <h1 class="govuk-heading-xl">Verify an address</h1>


          <form method=“post” action=“../filter”>



<p>Awaiting journey</p>



                     <button class="govuk-button" data-module="govuk-button" button type=“submit”>
                       Continue
                     </button>



        </form>


      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
