
{% extends "layout_govuk.html" %}

{% block pageTitle %}
  Mainstream guide example
{% endblock %}



{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Benefits</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Benefits and financial support if you're on a low income</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Winter Fuel Payment
      </h1>

      <aside class="app-mainstream-guide-contents-list" role="complementary">
        <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="app-contents-list__title">
            Contents
          </h2>
          <ol class="app-contents-list__list">
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
              <a href="overview">
                Overview
              </a>
            </li>
            <li  class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="eligibility">
                Eligibility
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="how-much-youll-get">
                How much you'll get
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="how-to-claim">
                Check if you need to claim
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="if-you-live-abroad">
                If you live abroad
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="when-youll-get-paid">
                When you'll get paid
              </a>
            </li>
            <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed">
                Report a change or cancel your payment
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-mainstream-guide-body">
      
      <h2 class="govuk-heading-m" style="font-size:27px">
        Report a change or cancel your payment
      </h2>
      
      <p>Contact the Winter Fuel Payment Centre if you’ve claimed Winter Fuel Payment before and you:</p>
     <ul class="govuk-list govuk-list--bullet">
      <li>need to report a change of circumstances</li>
      <li>need to change your address or personal details</li>
      <li>want to cancel future payments</li>
      <li>want to return a payment</li>
     </ul>

     <p>Report any change of circumstances as soon as possible, as these can affect how much Winter Fuel Payment you get. For example, if you stop getting a benefit, move house or move into a care home.</p>

     <p>If you cancel your payments, you can change this at any time.</p>

    <h2 class="govuk-heading-s" style="font-size:24px">
      Contact the Winter Fuel Payment Centre
    </h2>
   
   
    <h2 class="govuk-heading-s" style="font-size:19px">If you're in the UK</h2>
    
    <div class="govuk-inset-text" style="border-left:1px solid #b1b4b6"><a href="https://secure.dwp.gov.uk/contact-winter-fuel-payments-centre/contact-form">Email enquiry form</a><br>
      Telephone: 0800 731 0160<br>
      Textphone: contact <a href="https://www.relayuk.bt.com">Relay UK</a>  on 18001 then 0800 731 0160<br>
      British Sign Language (BSL) <a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">video relay service</a> if you’re on a computer - find out how to <a href="https://www.youtube.com/watch?v=vZJc6OKmAUA">use the service on mobile or tablet</a><br>
      Monday to Friday, 8am to 6pm<br>
    <a href="https://www.gov.uk/call-charges">Find out about call charges</a></div>

    <h2 class="govuk-heading-s" style="font-size:19px">If you're outside the UK</h2>
    
    <div class="govuk-inset-text" style="border-left:1px solid #b1b4b6"><a href="https://secure.dwp.gov.uk/contact-winter-fuel-payments-centre/contact-form">Email enquiry form</a><br>
      Telephone: +44 (0)191 218 7777<br>
      Textphone from outside the UK: contact Relay UK on +44 (0)151 494 2022 then 0800 731 0160<br>
      British Sign Language (BSL) <a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">video relay service</a> if you’re on a computer - find out how to <a href="https://www.youtube.com/watch?v=vZJc6OKmAUA">use the service on mobile or tablet</a><br>
      Monday to Friday, 8am to 6pm<br>
    <a href="https://www.gov.uk/call-charges">Find out about call charges</a></div>

    <h2 class="govuk-heading-s" style="font-size:24px">
      If you’ve been paid too much
    </h2>
    <p>You may have to repay the money if you:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>did not report a change straight away</li>
      <li>gave wrong information</li>
      <li>were overpaid by mistake</li>
     </ul>

     <p>Find out how to <a href="https://www.gov.uk/benefit-overpayments">repay the money you owe from benefit overpayment</a>.</p>

      <nav class="app-pagination" role="navigation" aria-label="Pagination">
        <ul class="app-pagination__list">
          <li class="app-pagination__item app-pagination__item--previous">
            <a href="when-youll-get-paid" class="govuk-link app-pagination__link" rel="prev">
              <span class="app-pagination__link-title">
                <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="app-pagination__link-text">
                  Previous
                </span>
              </span>
              <span class="app-pagination__link-divider visually-hidden">:</span>
              <span class="app-pagination__link-label">
                When you'll get paid
              </span>
            </a>
          </li>
         
        </ul>
      </nav>

      <p>
        <a href="https://www.gov.uk/winter-fuel-payment/print">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/benefits-calculators">
                Benefits calculator
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/cold-weather-payment">
                Cold Weather Payment
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/the-warm-home-discount-scheme">
                Warm Home Discount Scheme
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/pension-credit">
                Pension Credit
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/apply-for-elderly-person-bus-pass">
                Apply for an older person's bus pass
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}