{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">


          {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

          <br>
          <br>

          <form method="post">

            <h1 class="govuk-heading-xl">Do you need your letter in large print?</h1>


            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="large" name="large" type="radio" value="Large print (default - size 16)">
                      <label class="govuk-label govuk-radios__label" for="large">
                        Yes - large print (default - size 16)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="large" name="large-2" type="radio" value="Large print (custom size)">
                      <label class="govuk-label govuk-radios__label" for="large-2">
                        Yes - large print (custom size)
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="large-2" name="large" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="large-2">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>


            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
