{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-index.html' %}
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl" style="margin-bottom: 3%;">Winter Fuel Payments prototype</h1>
<br>

<div class="govuk-tabs" data-module="govuk-tabs">

  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#agent">
        Agent
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#admin">
        Admin
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#gov">
        GOV.UK
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#previous">
        Previous versions
      </a>
    </li>
   </ul>

  <div class="govuk-tabs__panel" id="agent">

            <section class="key-details-bar-black" style="background-color:#5694ca" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-black__key-details">

                <strong class="govuk-tag" style="background-color:#003078">Record View</strong><br>
                <br>

                <ul class="govuk-list govuk-list--bullet">
                <li>
                <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/overview.html">Record view</a>
                <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367461431474&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/prototype-record-view-variations.html">Record view - variations</a>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/prototype-ineligible-status.html">Record view - ineligible status</a>
                </li>
                </ul>

                </dl>
            </section>
            <br>

    <section class="key-details-bar-dark-blue" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-dark-blue__key-details">

                <strong class="govuk-tag" style="background-color:#1d70b8">Tasks</strong>

                <br>
                <br>

                <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/tasks/tasks">Tasks overview page</a>
                </li>
                <li>
                  <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/tasks/verify-addresses-temp-key/check-submitted-address.html">Check submitted address</a>
                  <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764516274322423&cot=14">Journey map</a><br>
                </li>
                <li>
                <a target="_blank" class="govuk-body-m" target="_blank" style="font-weight:bold;padding-right:15px" href="/current/tasks/contact-citizens/address-1.html">Contact citizens</a>
                <a target="_blank" class="govuk-body-s" target="_blank" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367461045186&cot=14">Journey map</a><br>
                </li>
                <li>
                <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/tasks/fix-account-details/bank-task">Fix account details</a>
                <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367456536173&cot=14">Journey map</a><br>
                </li>
                <li>
                <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/tasks/pay-death-arrears/death-arrears-task-1.html">Pay death arrears</a>
                <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367461045408&cot=14">Journey map</a><br>
                </li>
                <li>
                <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/tasks/13-week/13-week">Review 13 week care home cases</a>
                <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367458600816&cot=14">Journey map</a><br>
                </li>
                <li>
                <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/tasks/send-alternative-format/alternative-format-choose-audio.html">Review alternative formats</a>
                <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367458426179&cot=14">Journey map</a><br>
                </li>
                <li>
                <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/tasks/commercial-address/commercial-address">Approve commercial addresses</a>
                <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367457834365&cot=14">Journey map</a><br>
                </li>
                <li>
                <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/tasks/gsl/gsl-task">Review GSL / Withdrawal agreement</a>
                <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367457668642&cot=14">Journey map</a><br>
                </li>
                <li>
                <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/tasks/overpayment/overpayment-referral-shared">Review overpayments</a>
                <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367458601334&cot=14">Journey map</a><br>
                </li>
                <li>
                <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/tasks/verify-addresses/address-1.html">Verify addresses</a>
                <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367456313738&cot=14">Journey map</a><br>
                </li>
                </ul>

              </dl>
            </section>



<br>

            <section class="key-details-bar-light-purple" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-light-purple__key-details">
                <td class="govuk-table__cell">


                <strong class="govuk-tag" style="background-color:#4c2c92">New claims</strong>
                <br>
                <br>


                  <ul class="govuk-list govuk-list--bullet">
                  <li>
                  <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/new-claims/international/application-type">International new claims</a>
                  <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367455929908&cot=14">Journey map</a><br>
                  </li>
                  <li>
                  <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/new-claims/uk/type-of-application">UK new claims</a>
                  <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367453165485&cot=14">Journey map</a><br>
                  </li>
              </dl>
            </section>

  </div>



  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="admin">


<section class="key-details-bar-dark-blue" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-dark-blue__key-details">

                <strong class="govuk-tag" style="background-color:#1d70b8">Admin</strong>

                <br>
                <br>

                <ul class="govuk-list govuk-list--bullet">
                <li>
                <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/caseload-statuses/check-cases">Caseload statuses</a>
                <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367461044872&cot=14">Journey map</a><br>
                </li>
                <li>
                <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/find-details-for-all-cases/find-details">Find details of case</a>
                <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367461188193&cot=14">Journey map</a><br>
                </li>
                <li>
                <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/manage-things/manage-things">Manage things</a>
                <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367460669428&cot=14">Journey map</a><br>
                </li>
                <li>
                <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/run-sql-query/run-sql-query-options">Run SQL query</a>
                <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367461188120&cot=14">Journey map</a><br>
                </li>
                </ul>

              </dl>
            </section>


  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="gov">

<section class="key-details-bar-light-purple" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-light-purple__key-details">
                <td class="govuk-table__cell">


                <strong class="govuk-tag" style="background-color:#4c2c92">GOV.UK</strong>
                <br>
                <br>


                  <ul class="govuk-list govuk-list--bullet">
                  <li>
                  <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/eligibility-checker/check-eligibility">Eligibility checker</a>
                  <a target="_blank" class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367455929908&cot=14">Journey map</a><br>
                  </li>

              </dl>
            </section>

  </div>


  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="previous">


            <section class="key-details-bar-light-purple"  style="background-color:#505a5f" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-light-purple__key-details">
                <td class="govuk-table__cell">
                  <strong class="govuk-tag" style="background-color:#0b0c0c">Sprint 79 - tickets started (w/c 17 January 2022)</strong>
                <br>
                <br>
                <ul class="govuk-list govuk-list--bullet">
                   <li>
                  <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/previous-versions/sprint79/record-view/overview-tab/overview">Add benefit flag to overview</a>
                  <a target="_blank"class="govuk-body-s" href="https://dwpdigital.atlassian.net/browse/SPAY-3317?atlOrigin=eyJpIjoiMjJiN2UwMWRlNjViNDU1Mzg0NzFlY2VhYTdmYjFhNGEiLCJwIjoiaiJ9">SPAY-3317</a><br>
                  </li>
                </ul>
              </dl>
            </section>

            <br>

            <section class="key-details-bar-light-purple"  style="background-color:#505a5f" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-light-purple__key-details">
                <td class="govuk-table__cell">
                  <strong class="govuk-tag" style="background-color:#0b0c0c">Sprint 78 - tickets started (w/c 6 December 2021)</strong>
                <br>
                <br>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/previous-versions/sprint78/eligibility-checker/check-eligibility">Eligibility checker</a>
                    <a target="_blank"class="govuk-body-s" href="https://dwpdigital.atlassian.net/browse/SPAY-1630?atlOrigin=eyJpIjoiNDNmZTUzOTEyZjAyNDcwMmEzOWMxZDA3OWRhMjE4ZGIiLCJwIjoiaiJ9">SPAY-1630</a><br>
                  </li>
                  <li>
                    <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/previous-versions/sprint78/record-view/overview-tab/update-details/update-details-options">UD: mark WFPF1/WFPL4 have been sent to DAP</a>
                    <a target="_blank"class="govuk-body-s" href="https://dwpdigital.atlassian.net/browse/SPAY-2821?atlOrigin=eyJpIjoiMDYzYjUwZjhjNjAzNDZhYWJlZjc0ZDkwNjlhMjhjYTkiLCJwIjoiaiJ9">SPAY-2821</a><br>
                  </li>
                  <li>
                    <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/previous-versions/sprint78/record-view/overview-tab/update-details/update-details-options">Option to remove IN PRISON status</a>
                    <a target="_blank"class="govuk-body-s" href="https://dwpdigital.atlassian.net/browse/SPAY-3177?atlOrigin=eyJpIjoiNDM2OTQzNGJmY2JiNDY4MWE2MWFiNzQ1NjgxNzgxNDUiLCJwIjoiaiJ9">SPAY-3177</a><br>
                  </li>
                  <li>
                    <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/previous-versions/sprint78/record-view/payments-tab/payment-details/previous-payment-mark-as-returned">Mark payment as returned / reissue payment</a>
                    <a target="_blank"class="govuk-body-s" href="https://dwpdigital.atlassian.net/browse/SPAY-3085?atlOrigin=eyJpIjoiYTJiYjQ1MzdmMDJkNDIwZWEwMWQ4Zjk3ODBiMjMyMmUiLCJwIjoiaiJ9">SPAY-3085</a><br>
                  </li>
                </ul>
              </dl>
            </section>

<br>

            <section class="key-details-bar-light-purple"  style="background-color:#505a5f" role="contentinfo" aria-label="Key details">
              <dl class="key-details-bar-light-purple__key-details">
                <td class="govuk-table__cell">
                  <strong class="govuk-tag" style="background-color:#0b0c0c">Sprint 77 - tickets started (w/c 22 November 2021)</strong>
                <br>
                <br>
                <ul class="govuk-list govuk-list--bullet">
                   <li>
                  <a target="_blank" class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/previous-versions/sprint77/record-view/overview-tab/update-details/update-details-options">Changes to the update details journey</a>
                  <a target="_blank"class="govuk-body-s" href="https://dwpdigital.atlassian.net/browse/SPAY-2279?atlOrigin=eyJpIjoiMjJiN2UwMWRlNjViNDU1Mzg0NzFlY2VhYTdmYjFhNGEiLCJwIjoiaiJ9">SPAY-2279</a><br>
                  </li>
                </ul>
              </dl>
            </section>



  </div>

</div>








<!--   -->

      {% endblock %}
