
{% extends "layout_govuk.html" %}

{% block pageTitle %}
  Mainstream guide example
{% endblock %}



{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Benefits</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Benefits and financial support if you're on a low income</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Winter Fuel Payment
      </h1>

      <aside class="app-mainstream-guide-contents-list" role="complementary">
        <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="app-contents-list__title">
            Contents
          </h2>
          <ol class="app-contents-list__list">
            <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
                Overview
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="eligibility">
                Eligibility
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="how-much-youll-get">
                How much you'll get
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="how-to-claim">
                Check if you need to claim
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="when-youll-get-paid">
                When you'll get paid
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="report-a-change">
                Report a change or cancel your payment
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-mainstream-guide-body">
      
      <h2 class="govuk-heading-m" style="font-size:27px">
        Overview
      </h2>
      
      <p>If you were born before 26 September 1956 you could get between £250 and £600 to help you pay your heating bills. This is known as a ‘Winter Fuel Payment’.</p>
      <p><a href="how-much-youll-get">The amount you'll get</a> includes a 'Pensioner Cost of Living Payment'. This is between £150 and £300. You’ll only get this extra amount in winter 2022 to 2023. This is in addition to any other <a href="https://www.gov.uk/guidance/cost-of-living-payment">Cost of Living Payment</a> you get with your benefit or tax credits.</p>
      <div class="govuk-inset-text">This guide is also available <a href="https://www.gov.uk/taliad-tanwydd-gaeaf">in Welsh (Cymraeg)</a>.</div>
      <p>Most people get the Winter Fuel Payment automatically if <a href="eligibility">they’re eligible</a>. Check if you need to <a href="how-to-claim">make a claim</a>.</p>

      <h2 class="govuk-heading-m" style="font-size:24px">
        Other help with heating bills
      </h2>

      <p>You could also get:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a <a href="https://www.gov.uk/cold-weather-payment">Cold Weather Payment</a> - if you get certain benefits and the temperature drops to zero degrees celsius or below for 7 days in a row</li>
        <li>the <a href="https://www.gov.uk/the-warm-home-discount-scheme">Warm Home Discount</a> - this is a £150 discount on your bills if you get Pension Credit or live in a low-income household</li>
      </ul>

      <nav class="app-pagination" role="navigation" aria-label="Pagination">
        <ul class="app-pagination__list">
         
          <li class="app-pagination__item app-pagination__item--next">
            <a href="eligibility" class="govuk-link app-pagination__link" rel="next">
              <span class="app-pagination__link-title">
                <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="app-pagination__link-text">
                  Next
                </span>
              </span>
              <span class="app-pagination__link-divider visually-hidden">:</span>
              <span class="app-pagination__link-label">
                Eligibility
              </span>
            </a>
          </li>
        </ul>
      </nav>

      <p>
        <a href="https://www.gov.uk/winter-fuel-payment/print">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/benefits-calculators">
                Benefits calculator
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/cold-weather-payment">
                Cold Weather Payment
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/the-warm-home-discount-scheme">
                Warm Home Discount Scheme
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/pension-credit">
                Pension Credit
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/apply-for-elderly-person-bus-pass">
                Apply for an older person's bus pass
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
