{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}




{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


<form method="post">

      
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
                  Scarlett Humphrey<br>
                  <span class="govuk-body-l">
                    XX 12 34 56 A
                  </span>
              </div>
            </div>
   

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

            <br>

              <h1 class="govuk-heading-l">Is Scarlett Humphrey covered by the Withdrawal Agreement?</h1>

              

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="WA" name="WA" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="WA">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="WA-2" name="WA" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="WA-2">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

<a href="tasks-wa-returned" class="govuk-link">Return this case to the queue</a>
        <br><br><br>

              <button type="submit" class="govuk-button">
                Continue
              </button>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
