{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       
{% include 'current/includes/_bar.html' %}

        <h1 class="govuk-heading-l">Do you want to remove this email address?</h1>
 <p><strong>Email:</strong> {{data['email']}}</p>

        <form method="post" action="/current/record-view/contact-tab/contact-details">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              </legend>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-1" name="email-remove" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="changed-name-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="email-remove" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>


          <button type="submit" class="govuk-button">
            Save
          </button>

        </form>


      </div>

    </div>

  </div>

</div>

</main>        </div>
</div>
{% endblock %}

