{% extends "layout.html" %}

{% block header %}
{% include './_header-tasks.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form method="post" action="//legacy/sprint59d/overpayment-referral-shared">

          <h1 class="govuk-heading-xl">Review overpayments</h1>

          <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
              </h2>
            </div>
            <div class="govuk-notification-banner__content">

              <p class="govuk-body">Overpayment decision document downloaded - you should now upload this to CAM <br><a href="">Download overpayment decision document again</a></p>
            </div>
          </div>





          <div id="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">

                <p><strong>Apply optional filter(s) to the next overpayment case</strong></p>

                <div class="govuk-checkboxes govuk-checkboxes--small">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="review-overpayments" name="review-overpayments" type="checkbox" value="uk" checked="true">
                    <label class="govuk-label govuk-checkboxes__label" for="review-overpayments">
                      UK cases - 2,003 cases
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="review-overpayments-3" name="review-overpayments" type="checkbox" value="international">
                    <label class="govuk-label govuk-checkboxes__label" for="review-overpayments-2">
                      International cases - 6,398 cases
                    </label>
                  </div>



                </div>
        </form>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" button type=“submit”>
          Get next overpayment case
        </button>

        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="tasks-radio-small">
          Return to all tasks list
        </a>
      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
