{% include "current/includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  homepageUrl: "index",
  serviceName: serviceName,
  serviceUrl: "/index.html",
  navigation: [
  {
    href: "/legacy/sprint37b/find",
    text: "Find someone"
  },
  {
    href: "/legacy/sprint63e/type-of-application",
    text: "UK new claim"
  },
  {
    href: "/legacy/sprint43b/tasks",
    text: "UK tasks"
  },
  {
    href: "application-type",
    text: "International new claim",
        active: true
  },
  {
    href: "/legacy/sprint43d/international-tasks",
    text: "International tasks"
  }
  ]
}) }}
