{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}

{% block beforeContent %}
{% include './_blue_bar.html' %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form method="post">

        {% include './_bar.html' %}

            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}

            <br>
            <br>


          <form method="post">

            <h1 class="govuk-heading-m">Details of current address</h1>
              <div id="event-name-hint" class="govuk-hint">
              This address will be used to calculate entitlement during qualification week
              </div>

            <table class="govuk-table">
              <caption class="govuk-table__caption"></caption>

              

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Address</th>
                  <td class="govuk-table__cell">
                  Mary Spence Care Home<br>
                  130 Caradon Hill<br>
                    UDNY GREEN<br>
                    AB41 1JG</td>
                </tr>
              </thead>

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Date moved in</th>
                  <td class="govuk-table__cell">20 August 2021</td>
                </tr>
              </thead>
              
            </table>

            <br><br>Would phone number or contact details here be useful to the agent? or even POA contact details if applicable?

            <br><br>

<div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="dap-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                Has your occupancy status changed? / Do you need to update this address?
                  </h1>
                </legend>
                     
                <div id="dap-hint" class="govuk-hint">

                </div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
        <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="13-week" type="radio" value="yes" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in">
          Yes
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Select this option if you have moved from living with someone else at your previous residential address to not living with someone else at your current address
          <br>or should this say something like 'Select this option if you need to enter a previous residential address'
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="13-week" type="radio" value="no" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in-2">
          No
        </label>
        <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
          Select this option if you have moved from not living with someone else in your previous address to not living with someone else in your current address
          <br>or should this say something like 'Select this option if you do not need to enter a previous residential address'
        </div>
      </div>
    </div>

  </fieldset>
</div>

            <br><br>

            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
