{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-tasks.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form method="post" action="/current/tasks/overpayment/overpayment-referral-shared">

          <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
          
              <p class="govuk-body">Case returned to queue</p>
            </div>
          </div>

          <h1 class="govuk-heading-l">Get next overpayment case</h1>


          <div id="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">

                <p><strong>Select the case types you want to review</strong></p>

                <div class="govuk-checkboxes govuk-checkboxes--small">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="review-overpayments" name="review-overpayments" type="checkbox" value="uk">
                    <label class="govuk-label govuk-checkboxes__label" for="review-overpayments">
                      UK cases - 2,004 cases
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="review-overpayments-3" name="review-overpayments" type="checkbox" value="international">
                    <label class="govuk-label govuk-checkboxes__label" for="review-overpayments-2">
                      International cases - 6,394 cases
                    </label>
                  </div>
                </div>
        </form>

                </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" button type=“submit”>
            Get next case
          </button>

          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="tasks-radio-small">
            Return to all tasks list
          </a>
        </div>


</div>

</main>
</div>

{% endblock %}
