
{% extends "layout_govuk.html" %}

{% block pageTitle %}
  Mainstream guide example
{% endblock %}



{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Benefits</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Benefits and financial support if you're on a low income</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Winter Fuel Payment
      </h1>

      <aside class="app-mainstream-guide-contents-list" role="complementary">
        <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="app-contents-list__title">
            Contents
          </h2>
          <ol class="app-contents-list__list">
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
              <a href="overview">
                Overview
              </a>
            </li>
            <li  class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="eligibility">
                Eligibility
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="how-much-youll-get">
                How much you'll get
              </a>
            </li>
            <li aria-current="true"class="app-contents-list__list-item app-contents-list__list-item--dashed">
                Check if you need to claim
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="if-you-live-abroad">
                If you live abroad
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="when-youll-get-paid">
                When you'll get paid
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="report-a-change">
                Report a change or cancel your payment
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-mainstream-guide-body">
      
      <h2 class="govuk-heading-m" style="font-size:27px">
        Check if you need to claim
      </h2>
      
      <p>Most people get the Winter Fuel Payment automatically <a href="eligibility">if they're eligible</a>.</p>
     <p>You do not need to claim if you get any of the following:</p>
     <ul class="govuk-list govuk-list--bullet">
      <li>Pension Credit</li>
      <li>Attendance Allowance</li>
      <li>Personal Independence Payment (PIP)</li>
      <li>Carers Allowance</li>
      <li>Disability Living Allowance (DLA)</li>
      <li>Income Support</li>
      <li>income-related Employment and Support Allowance (ESA)</li>
      <li>income-based Jobseeker’s Allowance (JSA)</li>
      <li>awards from the War Pensions Scheme</li>
      <li>Industrial Injuries Disablement Benefit</li>
      <li>Incapacity Benefit</li>
      <li>Industrial Death Benefit</li>
      <li>Widowed Mothers Allowance</li>
      <li>Widowed Parent's Allowance</li>
    </ul>

    <div class="govuk-inset-text">You might need to claim <a href="if-you-live-abroad">if you live abroad</a> even if you do get one of these benefits.</div>

    <p>If you do not get any of these benefits or your State Pension, you need to claim if:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you've not got the Winter Fuel Payment before</li>
      <li>you've deferred your State Pension since your last Winter Fuel Payment</li>
     </ul>
   
     <h2 class="govuk-heading-s" style="font-size:24px">
      How to claim
    </h2>
    <p>You can claim Winter Fuel Payment by phone or by post.</p>
    <p>There’s a different way to claim <a href="if-you-live-abroad">if you live abroad</a>.</p>
    <div class="govuk-inset-text">The deadline for you to make a claim for winter 2022 to 2023 is 31 March 2023.</div>
   
    <h2 class="govuk-heading-s" style="font-size:19px">Claim by phone</h2>
    <p>Call the Winter Fuel Payment Centre to claim by phone.</p>
    <div class="govuk-inset-text" style="border-left:1px solid #b1b4b6"><a href="https://secure.dwp.gov.uk/contact-winter-fuel-payments-centre/contact-form">Email enquiry form</a><br>
      Telephone: 0800 731 0160<br>
      Textphone: contact <a href="https://www.relayuk.bt.com">Relay UK</a> on 18001 then 0800 731 0160<br>
      British Sign Language (BSL) <a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">video relay service</a> if you’re on a computer - find out how to <a href="https://www.youtube.com/watch?v=vZJc6OKmAUA">use the service on mobile or tablet</a><br>
      Monday to Friday, 8am to 6pm<br>
    <a href="https://www.gov.uk/call-charges">Find out about call charges</a></div>

    <h2 class="govuk-heading-s" style="font-size:16px">
      What to prepare before you call
    </h2>
    <p>Before you call, you will need to know:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your National Insurance number</li>
      <li>your bank or building society details</li>
      <li>your BIC and IBAN numbers if you live in an <a href="https://www.gov.uk/eu-eea">EEA country</a> or Switzerland</li>
      <li>the date you were married or entered into a civil partnership (if appropriate)</li>
     </ul>

     <div class="govuk-inset-text">Payments cannot be made into a National Savings and Investments (NS&I) account unless you already get other benefits paid into the account.</div>

     <p>You’ll also need to say whether during the qualifying week of 19 to 25 September 2022 you were:</p>
     <ul class="govuk-list govuk-list--bullet">
      <li>in hospital getting free in-patient treatment</li>
      <li>in a residential care home or Ilford Park Resettlement Home</li>
      <li>in prison</li>
     </ul>

     <h2 class="govuk-heading-s" style="font-size:19px">Claim by post</h2>
     <p>Fill in a <a href="https://www.gov.uk/government/publications/winter-fuel-payment-claim-form">Winter Fuel Payment claim form for UK residents</a> and send it to the Winter Fuel Payment Centre.</p>
     
   
    <div class="govuk-inset-text" style="border-left:1px solid #b1b4b6">
      Winter Fuel Payment Centre<br>
      Mail Handling Site A<br>
      Wolverhampton<br>
      WV98 1LR
    </div>

    

    <h2 class="govuk-heading-s" style="font-size:24px">
      If you disagree with a decision
    </h2>
    <p>You can <a href="https://www.gov.uk/mandatory-reconsideration">challenge a decision</a> about your claim. This is called asking for mandatory reconsideration.</p>

      <nav class="app-pagination" role="navigation" aria-label="Pagination">
        <ul class="app-pagination__list">
          <li class="app-pagination__item app-pagination__item--previous">
            <a href="how-much-youll-get" class="govuk-link app-pagination__link" rel="prev">
              <span class="app-pagination__link-title">
                <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="app-pagination__link-text">
                  Previous
                </span>
              </span>
              <span class="app-pagination__link-divider visually-hidden">:</span>
              <span class="app-pagination__link-label">
                How much you'll get
              </span>
            </a>
          </li>
          <li class="app-pagination__item app-pagination__item--next">
            <a href="if-you-live-abroad" class="govuk-link app-pagination__link" rel="next">
              <span class="app-pagination__link-title">
                <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="app-pagination__link-text">
                  Next
                </span>
              </span>
              <span class="app-pagination__link-divider visually-hidden">:</span>
              <span class="app-pagination__link-label">
                If you live abroad
              </span>
            </a>
          </li>
        </ul>
      </nav>

      <p>
        <a href="https://www.gov.uk/winter-fuel-payment/print">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/benefits-calculators">
                Benefits calculator
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/cold-weather-payment">
                Cold Weather Payment
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/the-warm-home-discount-scheme">
                Warm Home Discount Scheme
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/pension-credit">
                Pension Credit
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/apply-for-elderly-person-bus-pass">
                Apply for an older person's bus pass
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}