{% extends "layout.html" %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
      text: "Back",
      href: "javascript:history.go(-1)"
    }) }}

{% include 'current/includes/_bar-name-nino.html' %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        <form method="post">

              <h2 class="govuk-heading-l">Add submitted address to SPS</h2>

              <div class="govuk-inset-text">
                 <p>You can add, remove or change any details shown below before you add this to SPS.</p>
              </div>


              <div class="govuk-form-group">
                <label class="govuk-label" for="address-search-line-1">
                  Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
                </label>
                <input class="govuk-input" id="address-search-line-1" name="address-search-line-1" type="text" value="Flat D">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-search-line-2">
                  <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                </label>
                <input class="govuk-input" id="address-search-line-2" name="address-search-line-2" type="text" value="104 Boundary Lane">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-search-town">
                  Town or city
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-search-town" name="address-search-town" type="text" value="Hulme">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-search-county">
                  County
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-search-county" name="address-search-county" type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-search-postcode">
                  Postcode
                </label>
                <input class="govuk-input govuk-input--width-10" id="address-search-postcode" name="address-search-postcode" type="text" value="M15 6FD">
              </div>
              <a class="govuk-link" href="enter-address-clear">Clear form</a><br><br><br><br>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-fix-1" name="address-fix-1" type="radio" value="residential">
                      <label class="govuk-label govuk-radios__label" for="address">
                      
                        <strong class="govuk-tag govuk-tag--blue">
                          Residential
                        </strong>
                      </label>
                    </div>
                    <div class="govuk-radios__divider">or</div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-fix-1" name="address-fix-1" type="radio" value="care">
                     
                      <label class="govuk-label govuk-radios__label" for="address">
                        
                        <strong class="govuk-tag govuk-tag--pink">
                          Care home
                        </strong>
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-fix-1" name="address-fix-1" type="radio" value="hospital">
                      <label class="govuk-label govuk-radios__label" for="address">
                        
                        <strong class="govuk-tag govuk-tag--purple">
                          Hospital
                        </strong>
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-fix-1" name="address-fix-1" type="radio" value="commercial">
                      <label class="govuk-label govuk-radios__label" for="address">
                        
                        <strong class="govuk-tag govuk-tag--green">
                          Commercial
                        </strong>
                      </label>
                      <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                        If you select this as their property type, this citizen's future Winter Fuel Payments will be stopped.
                      </div>
                    </div>
                    <br>

                  </div>


                </fieldset>
              </div>

              <p><a href="/current/tasks/tasks" class="govuk-link">Return this case to the queue</a></p>
              <br>
              <div class="govuk-button-group">
                <button class="govuk-button" button type="submit" data-module="govuk-button">
                  Add address to SPS
                </button>
             

              </div>



            </form>


          <br>
      </div>



    </div>

</div>

</main>
</div>

<script>
  nextPageRoutes = {
      'care': 'duplicate-key-found',
      'hospital': 'duplicate-key-found',
      'residential': 'duplicate-key-found',
      'commercial': 'duplicate-key-found'

   }
</script>

{% endblock %}
