{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}


{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" action="need-alternative-format">

         {% if data['mark-as-dlo']=='yes'%}
          {% include 'current/includes/_bar-dlo.html' %}
        {% else %}
          {% include 'current/includes/_bar.html' %}
        {% endif %}




          <br>
          <br>


            <h1 class="govuk-heading-xl">What are your contact details?</h1>

            <p>We need at least one phone number.</p>

            <div class="govuk-form-group">
              <label class="govuk-label" for="telephone-number">
                Home phone
              </label>
              <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="telephone-number">
                Mobile phone
              </label>
              <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="telephone-number">
                Work phone
              </label>
              <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="telephone-number">
                Email address
              </label>
              <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel">
            </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
