{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header.html' %}
{% endblock %}




{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}


{% if data['mark-as-dlo']=='yes'%}
 {% include 'current/includes/_bar-dlo.html' %}
{% else %}
 {% include 'current/includes/_bar.html' %}
{% endif %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" action="address">

                  <h1 class="govuk-heading-xl">Security questions</h1>

                  <div class="govuk-inset-text"><span style="font-weight: bold">If you need to ask security questions to verify the caller's identity, do it now before continuing.</span></div>

                  <p><a href="type-of-application" class="govuk-link">Start again</a></p>
                  <br>

          <button type="submit" class="govuk-button">
            Continue
          </button>

  <br>


        </form>

        {% if data['prototype-mode'] === 'dev' %}
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              DEV info
            </span>
          </summary>

          <div class="govuk-details__text">
            <p><b>Error message</b><br>
              ...</p>
        </details>
        {% endif %}

      </div>

    </div>

</div>

</main>
</div>

{% endblock %}
