{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  homepageUrl: "index",
  serviceName: serviceName,
  serviceUrl: "/index.html",
  navigation: [
  {
    href: "/sprint63c/type-of-application",
    text: "Find someone"
  },
  {
    href: "/sprint63c/type-of-application",
    text: "UK new claim"
  },
  {
    href: "/sprint63e/application-type",
    text: "International new claim"
  },
  {
    href: "/sprint66/tasks",
    text: "Tasks"
  }
  ]
}) }}
