{% extends "layout.html" %}

{% block header %}
{% include './_header.html' %}
{% endblock %}




{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}



     <form method="post">

      
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
                  Scarlett Humphrey<br>
                  <span class="govuk-body-l">
                    XX 12 34 56 A
                  </span>
              </div>
            </div>
   

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

            <br>

              <h1 class="govuk-heading-l">Send an IPCL091 form</h1>

              
              

               <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
            <tbody class="govuk-table__body">
              
              
              
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Address</th>
                <td class="govuk-table__cell">iazza Giuseppe Garibaldi 76<br>
                                Parma<br>
                                43010<br>
                                Italia</td>
              </tr>
              
            </tbody>
          </table>


<a href="tasks-wa-returned" class="govuk-link">Return this case to the queue</a>
        <br><br><br>

              <button type="submit" class="govuk-button">
                Confirm form has been sent
              </button>

            </form>

      </div>

    </div>

  </div>

  </main>
  </div>

  {% endblock %}
