{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-index.html' %}
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

{{ govukBackLink ({
  text: 'Back',
  href: 'javascript:history.back()'
}) }}
            <br>
            <br>

<h2 class="govuk-heading-l">Record view variations</h2>


                <ul class="govuk-list govuk-list--bullet">
               
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/overview-page-variants/overview-dap">Death arrears payment due</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514370468729&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/overview-page-variants/overview-dap-form-sent">DAP form (WFPF004) sent</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764513835298424&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/overview-page-variants/overview-dap-cancelled">DAP opted out of payment</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764513835298281&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/overview-page-variants/overview-opted-out">Opt back in</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764513835298260&cot=14">Journey map</a><br>
                </li>
                
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/commercial/overview-commercial">Review commercial address</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367456749769&cot=14">Journey map</a><br>
                </li>
            
               
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/overview-page-variants/overview-withdrawal-agreement-not-reviewed">Withdrawal agreement not reviewed</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514370468792&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-unknown-address">Address unknown</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-carehome-benefits">Carehome + benefits</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-commercial-address">Commercial address</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-dead">Dead</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-gsl-disallowed">GSL disallowed</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-gsl-not-reviewed">GSL not reviewed</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-ineligible-eea">Ineligible EEA</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-hospital">In hospital</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-prison">In prison</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-invalid-residence">Invalid residence</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-no-addresses">No correspondence address</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/overview-page-variants/overview-opted-out">Opted out</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-partner-claimant">Partner claimant</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-paused">Paused</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-po-box">PO Box not approved</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-under-spa">Too young / under SPA</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-outside-eea">Outside EEA</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/ineligible/overview-immigration-control">Under immigration control</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514399952846&cot=14">Journey map</a><br>
                </li>
                </ul>

                
    </div>
  </div>

                



    



<!--   -->

      {% endblock %}


