{% extends "layout.html" %}

{% block header %}
{% include 'current/includes/_header-index.html' %}
{% endblock %}

{% block pageTitle %}
Winter Fuel Payments
{% endblock %}
{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

{{ govukBackLink ({
  text: 'Back',
  href: 'javascript:history.back()'
}) }}
            <br>
            <br>

<h2 class="govuk-heading-l">Record view variations</h2>


                <ul class="govuk-list govuk-list--bullet">
               
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/overview-page-variants/overview-dap">Death arrears payment due</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514370468729&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/overview-page-variants/overview-dap-form-sent">DAP form (WFPF004) sent</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764513835298424&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/overview-page-variants/overview-dap-cancelled">DAP opted out of payment</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764513835298281&cot=14">Journey map</a><br>
                </li>
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/overview-page-variants/overview-opted-out">Opt back in</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764513835298260&cot=14">Journey map</a><br>
                </li>
                
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/commercial/overview-commercial">Review commercial address</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3074457367456749769&cot=14">Journey map</a><br>
                </li>
            
               
                <li>
                <a class="govuk-body-m" style="font-weight:bold;padding-right:15px" href="/current/record-view/overview-tab/overview-page-variants/overview-withdrawal-agreement-not-reviewed">Withdrawal agreement not reviewed</a>
                <a class="govuk-body-s" href="https://miro.com/app/board/o9J_lxzuego=/?moveToWidget=3458764514370468792&cot=14">Journey map</a><br>
                </li>
                </ul>

                
    </div>
  </div>





    



<!--   -->

      {% endblock %}


