<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <div>
          
          <span class="govuk-caption-xl" style="font-size:24px">Preferred name: {{data['preferred-first-name']}} {{data['preferred-last-name']}}</span>
          <h1 class="govuk-heading-xl">
              Theodora Best
           <br>
          
       
            <span class="govuk-body-l">
                XX 12 34 56 
           </span><br>
           
          </h1>
        </div>

  </div>
</div>